<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AttackEffects.plist
   Delve

   Created by Theodore Abshire on 3/5/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time</key> <real>0.5</real>
		<key>time per distance</key> <real>0.1</real>
		<key>explosion time</key> <real>0.5</real>
		<key>start off</key> <integer>-50</integer>
		<key>end off</key> <integer>20</integer>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
		<key>projectile scale</key> <real>0.3333</real>
	</dict>
	
	<key>pillar</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_pillar</string>
		<key>explosion time</key> <real>0.3</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>shield toss</key>
	<dict>
		<key>sprite</key> <string>projectile_disc</string>
		<key>time per distance</key> <real>0.25</real>
		<key>type</key> <string>projectile</string>
	</dict>
	
	<key>explosion</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>explosion time</key> <real>0.3</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>arrow storm</key>
	<dict>
		<key>sprite</key> <string>projectile_arrowstorm</string>
		<key>time</key> <real>0.5</real>
		<key>start off</key> <integer>-120</integer>
		<key>end off</key> <integer>0</integer>
		<key>type</key> <string>melee</string>
		<key>projectile scale</key> <real>0.315</real>
	</dict>
	
	<key>shatter</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_shatter</string>
		<key>explosion time</key> <real>0.15</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>crystal grenade</key>
	<dict>
		<key>sprite</key> <string>projectile_crystal</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time per distance</key> <real>0.3</real>
		<key>explosion time</key> <real>0.4</real>
		<key>type</key> <string>projectile</string>
	</dict>
	
	<key>boulder toss</key>
	<dict>
		<key>sprite</key> <string>projectile_rock</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time per distance</key> <real>0.32</real>
		<key>explosion time</key> <real>0.2</real>
		<key>type</key> <string>projectile</string>
		<key>projectile scale</key> <real>1.2</real>
	</dict>
	
	<key>slash</key>
	<dict>
		<key>sprite</key> <string>projectile_slash</string>
		<key>time</key> <real>0.3</real>
		<key>start off</key> <integer>-50</integer>
		<key>end off</key> <integer>30</integer>
		<key>type</key> <string>melee</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>bite</key>
	<dict>
		<key>sprite</key> <string>projectile_bite</string>
		<key>time</key> <real>0.4</real>
		<key>start off</key> <integer>-40</integer>
		<key>end off</key> <integer>35</integer>
		<key>type</key> <string>melee</string>
	</dict>
	
	<key>direction slash</key>
	<dict>
		<key>sprite</key> <string>projectile_slash</string>
		<key>time</key> <real>0.3</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>jet</key>
	<dict>
		<key>sprite</key> <string>projectile_slash</string>
		<key>time per distance</key> <real>0.2</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
		<key>projectile scale</key> <real>1.5</real>
	</dict>
	
	<key>punch</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>time</key> <real>0.4</real>
		<key>start off</key> <integer>40</integer>
		<key>end off</key> <integer>-10</integer>
		<key>type</key> <string>melee</string>
		<key>rotate</key> <true/>
		<key>projectile scale</key> <real>1.15</real>
	</dict>
	
	<key>direction slam</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time</key> <real>0.5</real>
		<key>explosion time</key> <real>0.15</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
		<key>projectile scale</key> <real>1.2</real>
	</dict>
	
	<key>shield</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_shield</string>
		<key>explosion time</key> <real>0.6</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>confuse</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_confuse</string>
		<key>explosion time</key> <real>0.5</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>poof</key>
	<dict>
		<key>explosion sprite</key> <string>explosion_poof</string>
		<key>explosion time</key> <real>0.25</real>
		<key>type</key> <string>instant</string>
	</dict>
	
	<key>shield slam</key>
	<dict>
		<key>sprite</key> <string>projectile_disc</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time</key> <real>0.5</real>
		<key>explosion time</key> <real>0.1</real>
		<key>start off</key> <integer>-40</integer>
		<key>end off</key> <integer>0</integer>
		<key>type</key> <string>melee</string>
	</dict>
	
	<key>slam</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>explosion sprite</key> <string>explosion_poof</string>
		<key>time</key> <real>0.5</real>
		<key>explosion time</key> <real>0.15</real>
		<key>start off</key> <integer>-50</integer>
		<key>end off</key> <integer>0</integer>
		<key>type</key> <string>melee</string>
		<key>rotate</key> <true/>
		<key>projectile scale</key> <real>1.2</real>
	</dict>
	
	<key>dart</key>
	<dict>
		<key>sprite</key> <string>projectile_dart</string>
		<key>time per distance</key> <real>0.12</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>bolt</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>time per distance</key> <real>0.15</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>exploding bolt</key>
	<dict>
		<key>sprite</key> <string>projectile_bolt</string>
		<key>explosion sprite</key> <string>explosion_explosion</string>
		<key>time per distance</key> <real>0.15</real>
		<key>explosion time</key> <real>0.3</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>arrow</key>
	<dict>
		<key>sprite</key> <string>projectile_arrow</string>
		<key>time per distance</key> <real>0.1</real>
		<key>type</key> <string>projectile</string>
		<key>rotate</key> <true/>
	</dict>
	
	<key>heart</key>
	<dict>
		<key>sprite</key> <string>projectile_heart</string>
		<key>explosion sprite</key> <string>projectile_heart</string>
		<key>time</key> <real>0.5</real>
		<key>explosion time</key> <real>0.5</real>
		<key>type</key> <string>projectile</string>
	</dict>
</dict>
</plist>