<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Attacks.plist
   Delve

   Created by Theodore Abshire on 2/22/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>attack effect</key> <string>template</string>
		<key>description</key> <string>TODO: DESCRIPTION</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>min range</key> <integer>1</integer>
		<key>area</key> <integer>1</integer>
		<key>line area</key> <true/>
		<key>instant area</key> <true/>
		<key>cooldown</key> <integer>11</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<key>friendly</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
		<key>stun</key> <true/>
		<key>sleep</key> <true/>
		<key>poison</key> <integer>4</integer>
		<key>dodge restore</key> <integer>1</integer>
		<key>stealth</key> <integer>3</integer>
		<key>interrupt aoe</key> <true/>
		<key>hurt user</key> <integer>10</integer>
		<key>forcefield</key> <integer>50</integer>
		<key>stealth</key> <integer>10</integer>
		<key>extra actions</key> <integer>3</integer>
		<key>teleport</key> <true/>
		<key>raise counter</key> <integer>10</integer>
	</dict>
	<key>regen range finder</key>
	<dict>
		<key>area</key> <integer>15</integer>
		<!-- special effects -->
	</dict>
	
	<!-- counter-attacks -->
	<!-- note that they have to have power, or else they use the no-damage color -->
	<key>counter</key>
	<dict>
		<key>power</key> <integer>1</integer>
		<key>attack effect</key> <string>direction slash</string>
		<key>element</key> <string>cut</string>
		<!-- special effects -->
	</dict>
	<key>slime counter</key>
	<dict>
		<key>power</key> <integer>1</integer>
		<key>attack effect</key> <string>explosion</string>
		<key>element</key> <string>no element</string>
		<!-- special effects -->
	</dict>
	
	<!-- real attacks -->
	
	<!-- monster-only attacks -->
	<key>slalom</key>
	<dict>
		<key>attack effect</key> <string>direction slash</string>
		<key>power</key> <integer>20</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>teleport</key> <true/>
	</dict>
	<key>erratic holy shot</key>
	<dict>
		<key>attack effect</key> <string>bolt</string>
		<key>power</key> <integer>20</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>4</integer>
		<key>min range</key> <integer>2</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>rabid bite</key>
	<dict>
		<key>attack effect</key> <string>bite</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>poison</key> <integer>3</integer>
	</dict>
	<key>boulder toss</key>
	<dict>
		<key>attack effect</key> <string>boulder toss</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>3</integer>
		<key>min range</key> <integer>2</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>2</integer>
		<key>dodgeable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>slime eruption</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>smash</string>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>2</integer>
		<!-- special effects -->
		<key>poison</key> <integer>2</integer>
	</dict>
	<key>guardian shot</key>
	<dict>
		<key>attack effect</key> <string>exploding bolt</string>
		<key>power</key> <integer>18</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>5</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	
	<!-- melee damaging attacks -->
	<key>attack</key>
	<dict>
		<key>attack effect</key> <string>slam</string>
		<key>description</key> <string>Swing your weapon at a foe.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>feint</key>
	<dict>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>Launch a quick but harmless attack to trick the opponent into blocking.</string>
		<key>power</key> <integer>0</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>extra actions</key> <integer>1</integer>
	</dict>
	<key>forge iron</key>
	<dict>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>Strike a foe with a red-hot bar of iron from the forge.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>idolatrous spark</key>
	<dict>
		<key>attack effect</key> <string>direction slash</string>
		<key>description</key> <string>Release a little stolen holy energy from your tools, shocking a foe.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>2</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
	</dict>
	<key>shield bash</key>
	<dict>
		<key>attack effect</key> <string>shield slam</string>
		<key>description</key> <string>Use your shield as a bludgeon to interrupt a foe.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>15</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>interrupt aoe</key> <true/>
	</dict>
	<key>tackle</key>
	<dict>
		<key>attack effect</key> <string>direction slam</string>
		<key>description</key> <string>Throw yourself bodily at a foe, too suddenly to dodge.</string>
		<key>power</key> <integer>35</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
		<key>teleport</key> <true/>
	</dict>
	<key>kick</key>
	<dict>
		<key>attack effect</key> <string>direction slam</string>
		<key>description</key> <string>Kick a foe to interrupt them.</string>
		<key>power</key> <integer>10</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>interrupt aoe</key> <true/>
	</dict>
	<key>haymaker</key>
	<dict>
		<key>attack effect</key> <string>direction slam</string>
		<key>description</key> <string>Wind up for a slow but powerful punch.</string>
		<key>power</key> <integer>40</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>stab</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Quickly stab the foe with your dagger.</string>
		<key>power</key> <integer>18</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>jab</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Quickly jab with your spear, hitting someone at a distance without giving the foe a chance to dodge.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>2</integer>
		<key>min range</key> <integer>2</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>power swing</key>
	<dict>
		<key>attack effect</key> <string>slam</string>
		<key>description</key> <string>Wind up for a slow but powerful hammer swing.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>flame punch</key>
	<dict>
		<key>attack effect</key> <string>punch</string>
		<key>description</key> <string>Ignite your implant and throw a flaming punch.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>holy uppercut</key>
	<dict>
		<key>attack effect</key> <string>punch</string>
		<key>description</key> <string>Light your implant with holy power and go for their chin.</string>
		<key>power</key> <integer>35</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>wrack</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Slightly unfix your foe in time, to painful results.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>no element</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>11</integer>
		<key>dodgeable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>poison needle</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Jab your opponent with a poisoned needle.</string>
		<key>power</key> <integer>5</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>1</integer>
		<key>cooldown</key> <integer>15</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>poison</key> <integer>5</integer>
	</dict>
	
	<!-- ranged damaging attacks -->
	<!-- design note: now, due to screen sizes, the max range should be 4 -->
	<!-- because of that, most ranged attacks should be given no-dodge -->
	<!-- otherwise, most ranged attack stronger than bow shot will be useless, because the foe will dodge it anyway -->
	<key>shield toss</key>
	<dict>
		<key>attack effect</key> <string>shield toss</string>
		<key>description</key> <string>Throw your shield at a distance, and catch it on the rebound.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>3</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>bow shot</key>
	<dict>
		<key>attack effect</key> <string>arrow</string>
		<key>description</key> <string>Shoot your bow at a foe.</string>
		<key>power</key> <integer>18</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>5</integer>
		<key>min range</key> <integer>3</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>throwing knife</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Quickly throw a knife at a foe, interrupting them.</string>
		<key>power</key> <integer>20</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>3</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
		<key>interrupt aoe</key> <true/>
	</dict>
	<key>holy shot</key>
	<dict>
		<key>attack effect</key> <string>bolt</string>
		<key>description</key> <string>Use your holy weapon to strike a foe with holy light.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>4</integer>
		<key>min range</key> <integer>2</integer>
		<key>cooldown</key> <integer>1</integer>
		<key>blockable</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>patience shot</key>
	<dict>
		<key>attack effect</key> <string>bolt</string>
		<key>description</key> <string>Carefully line up a shot at a foe's weak spots with your holy weapon.</string>
		<key>power</key> <integer>35</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>4</integer>
		<key>min range</key> <integer>2</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>dart of spite</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Sacrifice a little of your own blood to fire a dangerous dart attack.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>4</integer>
		<key>cooldown</key> <integer>11</integer>
		<!-- special effects -->
		<key>hurt user</key> <integer>10</integer>
	</dict>
	<key>twin sacrifice</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Sacrifice a lot of your own blood to heavily injure a foe.</string>
		<key>power</key> <integer>60</integer>
		<key>element</key> <string>no element</string>
		<key>range</key> <integer>3</integer>
		<key>cooldown</key> <integer>11</integer>
		<!-- special effects -->
		<key>hurt user</key> <integer>50</integer>
	</dict>
	<key>poison</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Use a secret ritual to poison a foe's blood directly.</string>
		<key>power</key> <integer>10</integer>
		<key>element</key> <string>no element</string>
		<key>range</key> <integer>3</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>11</integer>
		<!-- special effects -->
		<key>poison</key> <integer>4</integer>
	</dict>
	<key>flame bolt</key>
	<dict>
		<key>attack effect</key> <string>exploding bolt</string>
		<key>description</key> <string>Use a ritual to fire a bolt of fire at a foe.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>4</integer>
		<key>cooldown</key> <integer>11</integer>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>stone pillar</key>
	<dict>
		<key>attack effect</key> <string>pillar</string>
		<key>description</key> <string>Use a ritual to pull a stone pillar from the ground.</string>
		<key>power</key> <integer>45</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>3</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>11</integer>
		<key>dodgeable</key> <true/>
		<!-- special effects -->
	</dict>
	
	<!-- line AoEs -->
	<key>flame spout</key>
	<dict>
		<key>attack effect</key> <string>jet</string>
		<key>description</key> <string>Release a jet of flame, hitting everyone in a line.</string>
		<key>power</key> <integer>22</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>3</integer>
		<key>min range</key> <integer>3</integer>
		<key>area</key> <integer>1</integer>
		<key>line area</key> <true/>
		<key>cooldown</key> <integer>15</integer>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>thrust</key>
	<dict>
		<key>attack effect</key> <string>dart</string>
		<key>description</key> <string>Thrust powerfully with your spear, hitting two people in a row.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>2</integer>
		<key>min range</key> <integer>2</integer>
		<key>area</key> <integer>1</integer>
		<key>line area</key> <true/>
		<key>instant area</key> <true/>
		<key>cooldown</key> <integer>1</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	
	<!-- (REAL) area of effect damaging attacks -->
	<key>light orb eruption</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Fully release the power of your light orb, shock all foes around you.</string>
		<key>power</key> <integer>32</integer>
		<key>element</key> <string>shock</string>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>30</integer>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	<key>arrow storm</key>
	<dict>
		<key>attack effect</key> <string>arrow storm</string>
		<key>description</key> <string>Fire many arrows at once from your bow, hitting everyone in an area.</string>
		<key>power</key> <integer>27</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>4</integer>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>15</integer>
		<key>dodgeable</key> <true/>
		<key>blockable</key> <true/>
		<!-- special effects -->
	</dict>
	<key>holy flash</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Use a ritual to create a big flash of holy light.</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>shock</string>
		<key>range</key> <integer>3</integer>
		<key>area</key> <integer>5</integer>
		<key>cooldown</key> <integer>11</integer>
		<!-- special effects -->
	</dict>
	<key>shatter</key>
	<dict>
		<key>attack effect</key> <string>shatter</string>
		<key>description</key> <string>Use a ritual to detonate an iron ingot into many sharp fragments.</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>cut</string>
		<key>range</key> <integer>4</integer>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>11</integer>
		<key>blockable</key> <true/>
		<!-- note that alchemy now has new recipies to turn steel into iron, etc, to fuel shatter -->
		<key>ammo</key> <string>iron ingot</string>
		<!-- special effects -->
	</dict>
	<key>earthquake slam</key>
	<dict>
		<key>attack effect</key> <string>slam</string>
		<key>description</key> <string>Wind up for an incredibly powerful hammer swing that shakes the very earth.</string>
		<key>power</key> <integer>28</integer>
		<key>element</key> <string>smash</string>
		<key>range</key> <integer>1</integer>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
	</dict>
	<key>crystal grenade</key>
	<dict>
		<key>attack effect</key> <string>crystal grenade</string>
		<key>description</key> <string>Directly detonate a holy crystal in order to cause a fiery explosion.</string>
		<key>power</key> <integer>25</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>3</integer>
		<key>area</key> <integer>3</integer>
		<key>cooldown</key> <integer>4</integer>
		<key>dodgeable</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
	</dict>
	
	<!-- self-targeting utility/defensive attacks -->
	<key>defend</key>
	<dict>
		<key>attack effect</key> <string>poof</string>
		<key>description</key> <string>Center yourself in order to aid in your dodging.</string>
		<key>friendly</key> <true/>
		<key>cooldown</key> <integer>1</integer>
		<!-- special effects -->
		<key>dodge restore</key> <integer>1</integer>
	</dict>
	<key>activate light orb</key>
	<dict>
		<key>attack effect</key> <string>shield</string>
		<key>description</key> <string>Release the power of your light orb to create a holy shield around yourself that rapidly decays on its own if not struck.</string>
		<key>cooldown</key> <integer>15</integer>
		<key>friendly</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
		<key>forcefield</key> <integer>45</integer>
		<key>extra actions</key> <integer>1</integer>
	</dict>
	<key>blur move</key>
	<dict>
		<key>attack effect</key> <string>poof</string>
		<key>description</key> <string>Move very quickly for a brief moment.</string>
		<key>cooldown</key> <integer>15</integer>
		<key>friendly</key> <true/>
		<!-- special effects -->
		<key>dodge restore</key> <integer>1</integer>
		<key>extra actions</key> <integer>2</integer>
	</dict>
	<key>time slip</key>
	<dict>
		<key>attack effect</key> <string>shield</string>
		<key>description</key> <string>Freeze time, at a terrible cost to your own body.</string>
		<key>cooldown</key> <integer>11</integer>
		<key>friendly</key> <true/>
		<!-- special effects -->
		<key>hurt user</key> <integer>70</integer>
		<key>extra actions</key> <integer>4</integer>
	</dict>
	<key>hide</key>
	<dict>
		<key>attack effect</key> <string>poof</string>
		<key>description</key> <string>Enter a state of stealth. Best used when not in combat.</string>
		<key>cooldown</key> <integer>40</integer>
		<key>friendly</key> <true/>
		<!-- special effects -->
		<key>stealth</key> <integer>12</integer>
	</dict>
	<key>fire shroud</key>
	<dict>
		<key>attack effect</key> <string>shield</string>
		<key>description</key> <string>Cover yourself in fire, greatly raising your counter for a short time.</string>
		<key>power</key> <integer>1</integer>
		<key>element</key> <string>burn</string>
		<key>cooldown</key> <integer>15</integer>
		<key>friendly</key> <true/>
		<key>ammo</key> <string>crystal</string>
		<!-- special effects -->
		<key>raise counter</key> <integer>8</integer>
		<key>hurt user</key> <integer>10</integer>
	</dict>
	
	<!-- other-targeting utility/defensive attacks -->
	<key>bamboozle</key>
	<dict>
		<key>attack effect</key> <string>confuse</string>
		<key>description</key> <string>Use convincing arguments to make a foe briefly stop fighting.</string>
		<key>range</key> <integer>3</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
		<key>stun</key> <true/>
	</dict>
	<key>flirt</key>
	<dict>
		<key>attack effect</key> <string>heart</string>
		<key>description</key> <string>Use your personal appeal to hypnotize a foe.</string>
		<key>range</key> <integer>1</integer>
		<key>area</key> <integer>1</integer>
		<key>cooldown</key> <integer>15</integer>
		<!-- special effects -->
		<key>sleep</key> <true/>
	</dict>
	<key>dazzle</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Use a ritual to surround a foe in bright flames.</string>
		<key>power</key> <integer>10</integer>
		<key>element</key> <string>burn</string>
		<key>range</key> <integer>4</integer>
		<key>cooldown</key> <integer>11</integer>
		<key>blockable</key> <true/>
		<!-- special effects -->
		<key>stun</key> <true/>
	</dict>
	<key>blink</key>
	<dict>
		<key>attack effect</key> <string>explosion</string>
		<key>description</key> <string>Use a ritual to bend space itself, and quickly zoom to a nearby location.</string>
		<key>range</key> <integer>4</integer>
		<key>cooldown</key> <integer>11</integer>
		<!-- special effects -->
		<key>teleport</key> <true/>
	</dict>
</dict>
</plist>