<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Colors.plist
   Delve

   Created by Theodore Abshire on 2/22/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<!-- material colors -->
	<key>iron</key> <string>999999</string>
	<key>steel</key> <string>AAAABB</string>
	<key>rusty</key> <string>AA8888</string>
	<key>gold</key> <string>FFDD00</string>
	<key>leather</key> <string>997755</string>
	<key>white fabric</key> <string>FFEEDD</string>
	<!-- body colors -->
	<key>pale skin</key> <string>FFF0F0</string>
	<key>tan skin</key> <string>DDCCBB</string>
	<key>grey skin</key> <string>BBAAAA</string>
	<key>brown skin</key> <string>663300</string>
	<key>olive skin</key> <string>556622</string>
	<key>brown hair</key> <string>DDAA66</string>
	<key>black hair</key> <string>443322</string>
	<key>green hair</key> <string>33AA33</string>
	<key>purple hair</key> <string>9944AA</string>
	<key>orange hair</key> <string>DDAA22</string>
	<!-- ui colors -->
	<key>ui warning</key> <string>FF4433</string>
	<key>ui warning pale</key> <string>CC9999</string>
	<key>ui text</key> <string>111111</string>
	<key>ui text grey</key> <string>888888</string>
	<!-- element colors -->
	<key>element cut</key> <string>FF7700</string>
	<key>element smash</key> <string>BBBBBB</string>
	<key>element shock</key> <string>FFFF00</string>
	<key>element burn</key> <string>FF0000</string>
	<key>element no element</key> <string>333333</string>
	<key>element no damage</key> <string>FFFFFF</string>
</dict>
</plist>
