<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Delve

   Created by Theodore Abshire on 2/22/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>template</string>
		<key>ai</key> <string>template</string>
		<key>skills</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<key>armors</key>
		<array>
			<string>template</string>
			<string>template</string>
		</array>
		<key>weapon</key> <string>template</string>
	</dict>
	
	<!-- real enemy types -->
	
	<!-- TODO: enemy design todos! -->
	<!-- things to make sure of: -->
	<!-- TODO: make sure there is decent representation for every damage type! so elemental resistances are useful -->
	<!-- TODO: make sure there is decent representation for every RESISTANCE type too, for similar reasons; follow the class guidelines there, mostly -->
	<!-- TODO: make sure there are at least some enemies who have AoE/delayed attacks! at least one enemy type every other floor; so shield bash, etc are useful -->
	<!-- TODO: make sure there is a decent number of enemies who have NO dodges or blocks at all -->
	
	
	
	<!-- human bandits -->
	<!-- human bandits have a player race, but are an early enemy type so they get shitty filler skills -->
	
	<!-- bandit -->
	<!-- basic bandit type enemy -->
	<key>bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>rusty armor</string>
			<string>rusty helmet</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- archer bandit -->
	<!-- more powerful, advanced bandit type enemy with a ranged focus -->
	<key>archer bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>skills</key>
		<array>
			<string>bow</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>shortbow</string>
		</array>
		<key>armors</key>
		<array>
			<string>rusty armor</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- hammer bandit -->
	<!-- more powerful, advanced bandit type enemy with a "delayed attack" focus -->
	<key>hammer bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>skills</key>
		<array>
			<string>hammer</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>sledgehammer</string>
		</array>
		<key>armors</key>
		<array>
			<string>rusty armor</string>
			<string>pot helmet</string>
		</array>
		<key>weapon</key> <string>wooden club</string>
	</dict>
	
	<!-- torch bandit -->
	<!-- alternate bandit type enemy -->
	<key>torch bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>peasant clothes</string>
			<string>pot helmet</string>
		</array>
		<key>weapon</key> <string>torch</string>
	</dict>
	
	<!-- slimes -->
	<!-- slimes are a specialiest enemy -->
	<!-- they all all resistant to cut and all have counter-attacks, but bad normal damage -->
	<!-- so don't charge one with a sword! -->
	
	<!-- slime -->
	<!-- the basic slime enemy, weak and specialized -->
	<key>slime</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>slime</string>
		<key>ai</key> <string>slime</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>slime bash</string>
	</dict>
	
	<!-- great slime -->
	<!-- a big slime, still no special abilities though -->
	<key>great slime</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>great slime</string>
		<key>ai</key> <string>slime</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>slime bash</string>
	</dict>
	
	
	<!-- ruin feeders -->
	<!-- ruin feeders are the weakest, earliest enemy type -->
	<!-- they are a little dodgy, and are solely melee -->
	
	<!-- ruin feeder runt -->
	<!-- basic weak rat-ish enemy -->
	<key>ruin feeder runt</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder runt</string>
		<key>ai</key> <string>animal</string>
		<key>skills</key>
		<array>
			<string>dodgy monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>teeth</string>
	</dict>
	
	<!-- ruin feeder -->
	<!-- a very slightly tougher ruin feeder -->
	<key>domesticated ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<!-- TODO: ruin feeder collar that gives 1 resistance to, say, smash -->
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- ruin feeder -->
	<!-- a stronger version of the ruin feeder runt, meant to be less dodgy but tougher -->
	<key>ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- fierce ruin feeder -->
	<!-- an advanced ruin feeder which has the good qualities of the runt and the normal types -->
	<key>fierce ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>fierce ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>dodgy monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- rabid ruin feeder -->
	<!-- an advanced ruin feeder with a dangerous poison normal attack; their unique skill lowers their max dodges to 0, in exchange for their skate AI ability -->
	<key>rabid ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>fierce ruin feeder</string>
		<key>ai</key> <string>animal charger</string>
		<key>skills</key>
		<array>
			<string>rabid ruin feeder skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>strong teeth</string>
		<!-- TODO: green ruin feeder mouth froth "armor" -->
	</dict>
	
	
	<!-- robots -->
	<!-- robots are a later-game enemy type, with a lot of variety -->
	<!-- even in areas that aren't supposed to be robot-based, there should occasionally be a few basic robots like sentries and scuttlers -->
	
	<!-- sentry -->
	<!-- basic melee robot -->
	<key>sentry</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>sentry</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>claw relic</string> <!-- graspy robot hands -->
	</dict>
	
	<!-- scuttler -->
	<!-- basic ranged robot, with the slalom skill -->
	<key>scuttler</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>scuttler</string>
		<key>ai</key> <string>robot specialist</string>
		<key>skills</key>
		<array>
			<string>scuttler skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>basic relic</string> <!-- pulse rifle turret -->
		</array>
	</dict>
	
	<!-- security android -->
	<!-- a melee android-type robot which fights with a stun baton and robot martial arts -->
	<key>security android</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>android</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>strength</string>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>holy baton</string>
	</dict>
	
	<!-- scout android -->
	<!-- a ranged android-type robot that is quite dodgy; because it has no implements, its attacks should be relatively weak -->
	<key>scout android</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>android</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>reflexes</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>android cannon</string>
		</array>
	</dict>
	
	<!-- war bot -->
	<!-- a very tanky super robot -->
	<key>war bot</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>war bot</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>sacred light</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>white lightning</string>
			<string>radiant orb</string>
		</array>
		<key>weapon</key> <string>advanced relic</string> <!-- some kind of slam attack -->
	</dict>
	
	
	<!-- eoling fanatics -->
	<!-- eoling fanatics are a midgame enemy who all use the robot AI, since they are too fanatical to flee -->
	<!-- they use a lot of shock damage -->
	
	<!-- eoling zealot -->
	<!-- a basic fanatic; because it's an eoling, it's quite dodgy; also has good armor -->
	<key>eoling zealot</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>eoling armor</string>
		</array>
		<key>weapon</key> <string>holy baton</string>
	</dict>
	
	<!-- eoling dancer -->
	<!-- an uber-dodgy advanced fanatic; beware its dagger attacks -->
	<key>eoling dancer</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot specialist</string>
		<key>skills</key>
		<array>
			<string>dagger</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>stiletto</string>
		</array>
		<key>armors</key>
		<array>
			<string>temple dancer outfit</string>
			<string></string>
			<string>white tail banner</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- eoling priest -->
	<!-- the eoling ranged attacker -->
	<key>eoling priest</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>holy thunder</string>
		</array>
		<key>armors</key>
		<array>
			<string>eoling robe</string>
			<string>tiara</string>
		</array>
		<key>weapon</key> <string>mace</string>
	</dict>
	
	<!-- highborn slaves -->
	<!-- highborn slaves use the bandit AI and are the shitty filler enemies -->
	<!-- of course, on this floor, even the shitty filler enemies are dangerous -->
	
	<!-- soldier slave -->
	<!-- soldier slaves are the basic slave, a spear-wielding melee tank -->
	<key>soldier slave</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit specialist</string>
		<key>skills</key>
		<array>
			<string>spear</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>pike</string>
		</array>
		<key>armors</key>
		<array>
			<string>chestplate</string>
			<string>winged helmet</string>
			<string>reinforced boots</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- torchbearer slave -->
	<!-- torchbearer slaves are a more advanced slave, a tough finesse-fighting slave with a torch -->
	<key>torchbearer slave</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>skills</key>
		<array>
			<string>finesse</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>chestplate</string>
			<string>riveted helmet</string>
			<string>steel-toed boots</string>
		</array>
		<key>weapon</key> <string>torch</string>
	</dict>
	
	
	<!-- highborn enemy types -->
	<!-- highborn enemy types have the highborn AI, and powerful rituals -->
	
	<!-- highborn ritualist -->
	<!-- a dangerous offensive ritualist -->
	<key>highborn ritualist</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>highborn</string>
		<key>ai</key> <string>highborn</string>
		<key>skills</key>
		<array>
			<string>energy</string>
			<string>mass</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>ether dynamics</string>
			<string>crumbling rod</string>
		</array>
		<key>armors</key>
		<array>
			<string>noble clothes</string>
			<string>gold tiara</string>
		</array>
		<key>weapon</key> <string>flanged mace</string>
	</dict>
	
	<!-- highborn taskmaster -->
	<!-- a slightly more fighty highborn who uses more self-supportive rituals; beware their dazzle attack! -->
	<key>highbord taskmaster</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>highborn</string>
		<key>ai</key> <string>highborn</string>
		<key>skills</key>
		<array>
			<string>time</string>
			<string>wisdom</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>pocket watch</string>
		</array>
		<key>armors</key>
		<array>
			<string>hero armor</string>
			<string>goggles</string>
		</array>
		<key>weapon</key> <string>masterwork sword</string>
	</dict>
	
	
	<!-- abomnations -->
	<!-- abominations are stupid power-enemies -->
	
	<!-- abomination flinger -->
	<!-- a dangerous ranged enemy -->
	<key>abomination flinger</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>abomination</string>
		<key>ai</key> <string>abomination</string>
		<key>skills</key>
		<array>
			<string>flinger skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>abomination bash</string>
	</dict>
	
	<!-- war abomination -->
	<!-- a slightly tougher, melee abomination -->
	<key>war abomination</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>abomination</string>
		<key>ai</key> <string>abomination</string>
		<key>skills</key>
		<array>
			<string>abomination skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<!-- war abomination armor (probably gives a bit of resists) -->
		<key>weapon</key> <string>abomination bash</string>
	</dict>
</dict>
</plist>