<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Delve

   Created by Theodore Abshire on 2/22/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>template</string>
		<key>ai</key> <string>template</string>
		<key>description</key> <string>TODO: enemy type description!</string>
		<key>skills</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<key>armors</key>
		<array>
			<string>template</string>
			<string>template</string>
		</array>
		<key>weapon</key> <string>template</string>
	</dict>
	
	<!-- real enemy types -->
	
	
	<!-- human bandits -->
	<!-- human bandits have a player race, but are an early enemy type so they get shitty filler skills -->
	
	<!-- bandit -->
	<!-- basic bandit type enemy -->
	<key>bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This disreputable human is probably waiting here to ambush people trying to leave.</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>rusty armor</string>
			<string>rusty helmet</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- archer bandit -->
	<!-- more powerful, advanced bandit type enemy with a ranged focus -->
	<key>archer bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit sentry</string>
		<key>description</key> <string>This human looks sharper, more alert than the others.</string>
		<key>skills</key>
		<array>
			<string>bow</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>shortbow</string>
		</array>
		<key>armors</key>
		<array>
			<string>rusty armor</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- hammer bandit -->
	<!-- more powerful, advanced bandit type enemy with a "delayed attack" focus -->
	<key>hammer bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This burly human is carrying a sledgehammer.</string>
		<key>skills</key>
		<array>
			<string>hammer</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>sledgehammer</string>
		</array>
		<key>armors</key>
		<array>
			<string>rusty armor</string>
			<string>pot helmet</string>
		</array>
		<key>weapon</key> <string>wooden club</string>
	</dict>
	
	<!-- torch bandit -->
	<!-- alternate bandit type enemy -->
	<key>torch bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This shabby human has a burning torch in one hand.</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>peasant clothes</string>
			<string>pot helmet</string>
		</array>
		<key>weapon</key> <string>torch</string>
	</dict>
	
	<!-- slimes -->
	<!-- slimes are a specialiest enemy -->
	<!-- they all all resistant to cut and all have counter-attacks, but bad normal damage -->
	<!-- so don't charge one with a sword! -->
	
	<!-- slime -->
	<!-- the basic slime enemy, weak and specialized -->
	<key>slime</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>slime</string>
		<key>ai</key> <string>slime</string>
		<key>description</key> <string>This strange monster seems to be a single mass of some kind of viscous substance.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>slime bash</string>
	</dict>
	
	<!-- great slime -->
	<!-- a big slime, still no special abilities though -->
	<key>great slime</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>great slime</string>
		<key>ai</key> <string>slime</string>
		<key>description</key> <string>This large slime-monster is firmer and stronger than its smaller siblings.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>slime bash</string>
	</dict>
	
	
	<!-- ruin feeders -->
	<!-- ruin feeders are the weakest, earliest enemy type -->
	<!-- they are a little dodgy, and are solely melee -->
	
	<!-- ruin feeder runt -->
	<!-- basic weak rat-ish enemy -->
	<key>ruin feeder runt</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder runt</string>
		<key>ai</key> <string>animal</string>
		<key>description</key> <string>This is a small animal that seems to be native to the area.</string>
		<key>skills</key>
		<array>
			<string>dodgy monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>teeth</string>
	</dict>
	
	<!-- trained ruin feeder -->
	<!-- a very slightly tougher ruin feeder -->
	<key>trained ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>description</key> <string>This strange species of animal seems to be a native to these caves. This one has been trained as an attack animal.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>ruin feeder collar</string>
		</array>
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- ruin feeder -->
	<!-- a stronger version of the ruin feeder runt, meant to be less dodgy but tougher -->
	<key>ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>description</key> <string>This strange species of animal seems to be a native to these caves.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- fierce ruin feeder -->
	<!-- an advanced ruin feeder which has the good qualities of the runt and the normal types -->
	<key>fierce ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>fierce ruin feeder</string>
		<key>ai</key> <string>animal</string>
		<key>description</key> <string>This is an especially strong and ruthless ruin feeder.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>dodgy monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	<!-- rabid ruin feeder -->
	<!-- an advanced ruin feeder with a dangerous poison normal attack; their unique skill lowers their max dodges to 0, in exchange for their skate AI ability -->
	<key>rabid ruin feeder</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>fierce ruin feeder</string>
		<key>ai</key> <string>animal charger</string>
		<key>description</key> <string>This ruin feeder has contracted some illness, that causes it to charge you with reckless abandon.</string>
		<key>skills</key>
		<array>
			<string>rabid ruin feeder skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>ruin feeder froth</string>
		</array>
		<key>weapon</key> <string>strong teeth</string>
	</dict>
	
	
	<!-- robots -->
	<!-- robots are a later-game enemy type, with a lot of variety -->
	<!-- even in areas that aren't supposed to be robot-based, there should occasionally be a few basic robots like sentries and scuttlers -->
	
	<!-- sentry -->
	<!-- basic melee robot -->
	<key>sentry</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>sentry</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This old construct has sharp metal claws, and it does not look afraid to use them.</string>
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>claw relic</string> <!-- graspy robot hands -->
	</dict>
	
	<!-- scuttler -->
	<!-- basic ranged robot, with the slalom skill -->
	<key>scuttler</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>scuttler</string>
		<key>ai</key> <string>robot specialist</string>
		<key>description</key> <string>This old construct moves back and forth erratically, looking for targets for its built-in holy weapon.</string>
		<key>skills</key>
		<array>
			<string>scuttler skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>basic relic</string> <!-- pulse rifle turret -->
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- security android -->
	<!-- a melee android-type robot which fights with a stun baton and robot martial arts -->
	<key>security android</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>android</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This slick construct is made in the form of an Eol.</string>
		<key>skills</key>
		<array>
			<string>strength</string>
			<string>tough monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>holy baton</string>
	</dict>
	
	<!-- scout android -->
	<!-- a ranged android-type robot that is quite dodgy; because it has no implements, its attacks should be relatively weak -->
	<key>scout android</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>android</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This slick construct has one arm replaced with a powerful holy weapon.</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>reflexes</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>android cannon</string>
		</array>
	</dict>
	
	<!-- war bot -->
	<!-- a very tanky super robot -->
	<key>war bot</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>war bot</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This heavily armored construct is armed with the mightiest weapons of the ancient Eol.</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>sacred light</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>white lightning</string>
			<string>radiant orb</string>
		</array>
		<key>weapon</key> <string>advanced relic</string> <!-- some kind of slam attack -->
	</dict>
	
	
	<!-- eoling fanatics -->
	<!-- eoling fanatics are a midgame enemy who all use the robot AI, since they are too fanatical to flee -->
	<!-- they use a lot of shock damage -->
	
	<!-- eoling zealot -->
	<!-- a basic fanatic; because it's an eoling, it's quite dodgy; also has good armor -->
	<key>eoling zealot</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This Eoling soldier does not look happy to see a trespasser.</string>
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>eoling armor</string>
		</array>
		<key>weapon</key> <string>holy baton</string>
	</dict>
	
	<!-- eoling dancer -->
	<!-- an uber-dodgy advanced fanatic; beware its dagger attacks -->
	<key>eoling dancer</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot specialist</string>
		<key>description</key> <string>This Eoling parishioner has been trained in an old Eol form of ritual combat.</string>
		<key>skills</key>
		<array>
			<string>dagger</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>stiletto</string>
		</array>
		<key>armors</key>
		<array>
			<string>temple dancer outfit</string>
			<string></string>
			<string>white tail banner</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- eoling priest -->
	<!-- the eoling ranged attacker -->
	<key>eoling priest</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>eoling</string>
		<key>ai</key> <string>robot</string>
		<key>description</key> <string>This Eoling priest has been brought here in the hopes of re-activating old Eol devices.</string>
		<key>skills</key>
		<array>
			<string>holy soldier</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>holy thunder</string>
		</array>
		<key>armors</key>
		<array>
			<string>eoling robe</string>
			<string>tiara</string>
		</array>
		<key>weapon</key> <string>mace</string>
	</dict>
	
	<!-- highborn slaves -->
	<!-- highborn slaves use the bandit AI and are the shitty filler enemies -->
	<!-- of course, on this floor, even the shitty filler enemies are dangerous -->
	
	<!-- soldier slave -->
	<!-- soldier slaves are the basic slave, a spear-wielding melee tank -->
	<key>soldier slave</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This human looks strangely dazed. !He is heavily armored and armored.</string>
		<key>skills</key>
		<array>
			<string>spear</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>pike</string>
		</array>
		<key>armors</key>
		<array>
			<string>chestplate</string>
			<string>winged helmet</string>
			<string>reinforced boots</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- torchbearer slave -->
	<!-- torchbearer slaves are a more advanced slave, a tough finesse-fighting slave with a torch -->
	<key>torchbearer slave</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This human looks strangely dazed. !He is wielding a lit torch with great skill.</string>
		<key>skills</key>
		<array>
			<string>finesse</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>chestplate</string>
			<string>riveted helmet</string>
			<string>steel-toed boots</string>
		</array>
		<key>weapon</key> <string>torch</string>
	</dict>
	
	
	<!-- highborn enemy types -->
	<!-- highborn enemy types have the highborn AI, and powerful rituals -->
	
	<!-- highborn ritualist -->
	<!-- a dangerous offensive ritualist -->
	<key>highborn ritualist</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>highborn</string>
		<key>ai</key> <string>highborn</string>
		<key>description</key> <string>This Highborn sneers at you arrogantly.</string>
		<key>skills</key>
		<array>
			<string>energy</string>
			<string>mass</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>ether dynamics</string>
			<string>crumbling rod</string>
		</array>
		<key>armors</key>
		<array>
			<string>noble clothes</string>
			<string>gold tiara</string>
		</array>
		<key>weapon</key> <string>flanged mace</string>
	</dict>
	
	<!-- highborn taskmaster -->
	<!-- a slightly more fighty highborn who uses more self-supportive rituals; beware their dazzle attack! -->
	<key>highborn taskmaster</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>highborn</string>
		<key>ai</key> <string>highborn</string>
		<key>description</key> <string>This heavily-armed Highborn looks frustrated at the Highborn expedition being stalled so close to the end. !He seems inclined to take this out on you.</string>
		<key>skills</key>
		<array>
			<string>time</string>
			<string>wisdom</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>pocket watch</string>
		</array>
		<key>armors</key>
		<array>
			<string>hero armor</string>
			<string>goggles</string>
		</array>
		<key>weapon</key> <string>masterwork sword</string>
	</dict>
	
	
	<!-- abomnations -->
	<!-- abominations are stupid power-enemies -->
	
	<!-- abomination flinger -->
	<!-- a dangerous ranged enemy -->
	<key>abomination flinger</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>abomination</string>
		<key>ai</key> <string>abomination</string>
		<key>description</key> <string>This bizarre creature's skin glistens with clear mucus, and its muscles ripple with strength.</string>
		<key>skills</key>
		<array>
			<string>flinger skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>abomination bash</string>
	</dict>
	
	<!-- war abomination -->
	<!-- a slightly tougher, melee abomination -->
	<key>war abomination</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>abomination</string>
		<key>ai</key> <string>abomination</string>
		<key>description</key> <string>This horrid creature seems to have been fitted with crude armor.</string>
		<key>skills</key>
		<array>
			<string>abomination skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>abomination armor</string>
		</array>
		<key>weapon</key> <string>abomination bash</string>
	</dict>
	
	
	<!-- raiders -->
	<!-- raiders are powerful and tend to have lots of blocks -->
	
	<!-- raider warrior -->
	<!-- the basic raider fighting person type, with lots of blocks to tie up the player -->
	<key>raider warrior</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>raider</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This fearsome soldier is armed with sword and shield.</string>
		<key>skills</key>
		<array>
			<string>shield</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>kite shield</string>
		</array>
		<key>armors</key>
		<array>
			<string>raider armor</string>
			<string>winged helmet</string>
		</array>
		<key>weapon</key> <string>bastard sword</string>
	</dict>
	
	<!-- raider archer -->
	<!-- the basic ranged raider -->
	<key>raider archer</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>raider</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This burly archer nocks a blunted arrow when !he sees you.</string>
		<key>skills</key>
		<array>
			<string>bow</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>bodkin bow</string>
		</array>
		<key>armors</key>
		<array>
			<string>raider armor</string>
			<string></string>
			<string>red tail banner</string>
		</array>
		<key>weapon</key> <string>bastard sword</string>
	</dict>
	
	<!-- raider knight -->
	<!-- the advanced melee raider type -->
	<key>raider knight</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>raider</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This Raider looks to be from the elite Raider knights.</string>
		<key>skills</key>
		<array>
			<string>spear</string>
			<string>dagger</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>pike</string>
			<string>combat knife</string>
		</array>
		<key>armors</key>
		<array>
			<string>raider armor</string>
			<string>knight helmet</string>
		</array>
		<key>weapon</key> <string>flanged mace</string>
	</dict>
	
	<!-- raider specialist -->
	<!-- the sacred raider type -->
	<key>raider specialist</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>raider</string>
		<key>ai</key> <string>bandit</string>
		<key>description</key> <string>This Raider was gearing up for some kind of offensive push when you arrived. Unlucky you.</string>
		<key>skills</key>
		<array>
			<string>oathbreaker</string>
			<string>bow</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>inferno</string>
			<string>longbow</string>
		</array>
		<key>armors</key>
		<array>
			<string>raider armor</string>
			<string>bandit helmet</string>
			<string>gold tail ring</string>
		</array>
		<key>weapon</key> <string>longsword</string>
	</dict>
	
	
	<!-- guardians -->
	<!-- guardians are a "boss enemy", meant to protect the exit of a room -->
	<!-- as a design goal, they should be used to match the general elemental resists/damages of an area -->
	
	<!-- jury-rigged guardian, the floor 0 guardian -->
	<key>jury-rigged guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine seems to have been repaired recently. It's normal weapon has been replaced with a crossbow, and it's normal armor has been replaced with a simple iron replica.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian crossbow</string>
		</array>
		<key>armors</key>
		<array>
			<string>cut casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- stolen guardian, the floor 1 guardian -->
	<key>stolen guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine shows signs of having been moved recently, probably from deeper in. Luckily, it also seems to have been damaged in the process.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian flamethrower</string>
		</array>
		<key>armors</key>
		<array>
			<string>shock casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- stone guardian, the floor 2 guardian -->
	<key>stone guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine seems to be outfitted with some kind of stone-throwing device.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian catapult</string>
		</array>
		<key>armors</key>
		<array>
			<string>smash casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- prayer guardian, the floor 3 guardian -->
	<key>prayer guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine seems to have been well-cared-for by the Eoling force. It has a powerful holy weapon.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian gun</string>
		</array>
		<key>armors</key>
		<array>
			<string>smash casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- grounded guardian, the floor 4 guardian -->
	<key>grounded guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine seems to be made to resist lightning, which is odd for a machine in a cave. Perhaps this park was once above ground?</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>heresy</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian catapult</string>
		</array>
		<key>armors</key>
		<array>
			<string>shock casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- flame guardian, the floor 5 guardian -->
	<key>flame guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine is equipped with an unholy weapon. The ancient Eols must have not wanted those monsters to leave this facility.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>oathbreaker</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian flamethrower</string>
		</array>
		<key>armors</key>
		<array>
			<string>burn casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- ship guardian, the floor 6 guardian -->
	<key>ship guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine is of the same make as the one those bandits stole. This one, however, is in good condition.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>sacred light</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian flamethrower</string>
		</array>
		<key>armors</key>
		<array>
			<string>shock casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- strength guardian, the floor 7 guardian -->
	<key>strength guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine has been re-activated by the Raider expedition. They must have found the key.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>blocky monster skill</string>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian catapult</string>
		</array>
		<key>armors</key>
		<array>
			<string>burn casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- ritual guardian, the floor 8 guardian -->
	<key>ritual guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine has been modified by the Highborn. Now, instead of its previous holy weapon, it has some kind of strange ritual weapon.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>energy</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian fireball</string>
		</array>
		<key>armors</key>
		<array>
			<string>burn casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- holy guardian, the floor 9 guardian -->
	<key>holy guardian</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>guardian</string>
		<key>ai</key> <string>guardian</string>
		<key>description</key> <string>This ancient machine was made to guard the most sensitive of old Eol secrets. It is of the finest make.</string>
		<key>skills</key>
		<array>
			<string>guardian skill</string>
			<string>holy soldier</string>
			<string>sacred light</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>guardian gun</string>
		</array>
		<key>armors</key>
		<array>
			<string>shock casing</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
</dict>
</plist>