<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EnemyTypes.plist
   Delve

   Created by Theodore Abshire on 2/22/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>template</string>
		<!-- TODO: AI -->
		<key>skills</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
			<string>template</string>
		</array>
		<key>armors</key>
		<array>
			<string>template</string>
			<string>template</string>
		</array>
		<key>weapon</key> <string>template</string>
	</dict>
	
	<!-- real enemy types -->
	
	<!-- bandit -->
	<!-- basic bandit type enemy -->
	<key>bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<!-- TODO: AI -->
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>rusty armor</string>
		</array>
		<key>weapon</key> <string>shortsword</string>
	</dict>
	
	<!-- torch bandit -->
	<!-- alternate bandit type enemy -->
	<key>torch bandit</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>human</string>
		<!-- TODO: AI -->
		<key>skills</key>
		<array>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>armors</key>
		<array>
			<string>peasant clothes</string>
		</array>
		<key>weapon</key> <string>torch</string>
	</dict>
	
	<!-- ruin feeder runt -->
	<!-- basic weak rat-ish enemy -->
	<key>ruin feeder runt</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>ruin feeder runt</string>
		<!-- TODO: AI -->
		<key>skills</key>
		<array>
			<string>dodgy monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>teeth</string>
	</dict>
	
	<!-- sentry -->
	<!-- basic melee robot -->
	<key>sentry</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>sentry</string>
		<!-- TODO: AI -->
		<key>skills</key>
		<array>
			<string>tough monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>weapon</key> <string>basic relic</string> <!-- graspy robot hands -->
	</dict>
	
	<!-- scuttler -->
	<!-- basic ranged robot, with the slalom skill -->
	<key>scuttler</key>
	<dict>
		<!-- identity -->
		<key>race</key> <string>scuttler</string>
		<!-- TODO: AI -->
		<!-- TODO: scuttlers should have some "don't use normal attack" flag -->
		<key>skills</key>
		<array>
			<string>scuttler skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
			<string>filler monster skill</string>
		</array>
		<!-- equipment -->
		<key>implements</key>
		<array>
			<string>basic relic</string> <!-- pulse rifle turret at point blank -->
		</array>
	</dict>
</dict>
</plist>
