<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Floors.plist
   Delve

   Created by Theodore Abshire on 3/4/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>template</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
				<string>ruin feeder runt</string>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	<!-- design guideline -->
	<!-- the values I start with for countdown should be around 2.5 * (room size) * (desired path length) + 10 * (number encounters) -->
	<!-- with some extra padding and such, obviously -->
	<!-- overtime countdown should be shorter, obviously, maybe (room size) * (desired path length) -->
	
	<!-- TODO: important design note: -->
	<!-- overtime countdown should always be a multiple of 5 -->
	
	
	<!-- floor 0 -->
	<!-- theme: cave and ruins -->
	<!-- enemy types: ruin feeders and slimes -->
	<!-- color: blue -->
	<key>floor 0</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>8</integer>
		<key>columns</key> <integer>5</integer>
		<key>reject undiscovered doors chance</key> <integer>40</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>15</integer>
		<key>max non orphans</key> <integer>30</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>11</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>58</integer>
		<key>cave smooths</key> <integer>1</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>200</integer>
		<key>overtime countdown</key> <integer>60</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>5</integer>
		<key>start equipment treasures</key> <integer>1</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
			<array>
				<string>slime</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 1 -->
	<!-- theme: cave with a little bit of ruins -->
	<!-- enemy types: human bandits and a few ruin feeders -->
	<!-- color: blue -->
	<key>floor 1</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>2</integer>
		<key>doors at a time</key> <integer>7</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>40</integer>
		<key>locked door chance</key> <integer>15</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>13</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>45</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>50</integer>
		<key>max floor tile percent</key> <integer>70</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>220</integer>
		<key>overtime countdown</key> <integer>75</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>10</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 2 -->
	<!-- theme: eol habitat -->
	<!-- enemy types: robots -->
	<!-- color: blue-grey -->
	<!-- TODO: real data -->
	<key>floor 2</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 3 -->
	<!-- theme: habitat maze -->
	<!-- enemy types: eoling zealots -->
	<!-- it has no drops, because it will end up with a LOT of locked-only areas -->
	<!-- color: blue-grey -->
	<key>floor 3</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>3</integer>
		<key>rows</key> <integer>11</integer>
		<key>columns</key> <integer>10</integer>
		<key>reject undiscovered doors chance</key> <integer>30</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>10</integer>
		<key>min non orphans</key> <integer>40</integer>
		<key>max non orphans</key> <integer>80</integer>
		<key>locked door chance</key> <integer>45</integer>
		<key>no door chance</key> <integer>50</integer>
		<key>desired path length</key> <integer>30</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>0</integer>
		<key>cave smooths</key> <integer>0</integer>
		<key>min floor tile percent</key> <integer>0</integer>
		<key>max floor tile percent</key> <integer>0</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>240</integer>
		<key>overtime countdown</key> <integer>100</integer>
		<key>equipment treasures</key> <integer>0</integer>
		<key>normal treasures</key> <integer>0</integer>
		<key>number of encounters</key> <integer>10</integer>
		<key>start equipment treasures</key> <integer>1</integer>
		<key>encounters</key>
		<array>
			<!-- TODO: real encounters -->
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 4 -->
	<!-- theme: underground forest -->
	<!-- enemy types: higher-level ruin feeders and slimes -->
	<!-- color: grey -->
	<!-- TODO: real data -->
	<key>floor 4</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 5 -->
	<!-- theme: eol research lab -->
	<!-- enemy types: abominations, slimes, and a few robots -->
	<!-- color: grey -->
	<!-- TODO: real data -->
	<key>floor 5</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 6 -->
	<!-- theme: broken eol ship -->
	<!-- enemy types: robots -->
	<!-- very tall and thin; the rooms are small, and the encounters are close together -->
	<!-- color: red-grey -->
	<key>floor 6</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>3</integer>
		<key>rows</key> <integer>11</integer>
		<key>columns</key> <integer>3</integer>
		<key>reject undiscovered doors chance</key> <integer>30</integer>
		<key>max door offset</key> <integer>0</integer>
		<key>doors at a time</key> <integer>7</integer>
		<key>min non orphans</key> <integer>18</integer>
		<key>max non orphans</key> <integer>999</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>75</integer>
		<key>desired path length</key> <integer>12</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>85</integer>
		<key>cave smooths</key> <integer>0</integer>
		<key>min floor tile percent</key> <integer>0</integer>
		<key>max floor tile percent</key> <integer>999</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>150</integer>
		<key>overtime countdown</key> <integer>40</integer>
		<key>equipment treasures</key> <integer>10</integer>
		<key>normal treasures</key> <integer>12</integer>
		<key>number of encounters</key> <integer>11</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<!-- TODO: real encounters -->
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 7 -->
	<!-- theme: full cave (do room generation with natural walls too) -->
	<!-- enemy types: raider expedition force (remember to give them raider body armor!) -->
	<!-- color: red-grey -->
	<!-- TODO: real data -->
	<key>floor 7</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 8 -->
	<!-- theme: rogue highborn expedition fortress -->
	<!-- enemy types: some highborn with rituals, also lots of human warrior-slaves -->
	<!-- color: red -->
	<!-- TODO: real data -->
	<key>floor 8</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>10</integer>
		<key>columns</key> <integer>6</integer>
		<key>reject undiscovered doors chance</key> <integer>60</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>20</integer>
		<key>max non orphans</key> <integer>35</integer>
		<key>locked door chance</key> <integer>35</integer>
		<key>no door chance</key> <integer>25</integer>
		<key>desired path length</key> <integer>7</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>50</integer>
		<key>cave smooths</key> <integer>2</integer>
		<key>min floor tile percent</key> <integer>40</integer>
		<key>max floor tile percent</key> <integer>60</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>160</integer>
		<key>overtime countdown</key> <integer>35</integer>
		<key>equipment treasures</key> <integer>4</integer>
		<key>normal treasures</key> <integer>6</integer>
		<key>number of encounters</key> <integer>8</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
	<!-- floor 9 -->
	<!-- theme: functional ancient eol ship -->
	<!-- enemy types: robots -->
	<!-- color: red -->
	<key>floor 9</key>
	<dict>
		<!-- map generation data -->
		<key>tileset</key> <string>red</string>
		<key>room size</key> <integer>5</integer>
		<key>rows</key> <integer>15</integer>
		<key>columns</key> <integer>4</integer>
		<key>reject undiscovered doors chance</key> <integer>20</integer>
		<key>max door offset</key> <integer>1</integer>
		<key>doors at a time</key> <integer>5</integer>
		<key>min non orphans</key> <integer>30</integer>
		<key>max non orphans</key> <integer>999</integer>
		<key>locked door chance</key> <integer>15</integer>
		<key>no door chance</key> <integer>75</integer>
		<key>desired path length</key> <integer>17</integer>
		<!-- cave generation data -->
		<key>cave wall chance</key> <integer>0</integer>
		<key>cave smooths</key> <integer>0</integer>
		<key>min floor tile percent</key> <integer>0</integer>
		<key>max floor tile percent</key> <integer>0</integer>
		<!-- map balance data -->
		<key>countdown</key> <integer>280</integer>
		<key>overtime countdown</key> <integer>90</integer>
		<key>equipment treasures</key> <integer>5</integer>
		<key>normal treasures</key> <integer>10</integer>
		<key>number of encounters</key> <integer>17</integer>
		<key>start equipment treasures</key> <integer>4</integer>
		<key>encounters</key>
		<array>
			<!-- TODO: real encounters -->
			<array>
				<string>ruin feeder runt</string>
			</array>
		</array>
	</dict>
	
	
</dict>
</plist>