<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Implements.plist
   Delve

   Created by Theodore Abshire on 2/26/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>type</key> <string>template</string>
		<key>breaks into</key> <string>template</string>
		<key>power</key> <integer>0</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>TODO: DESCRIPTION</string>
	</dict>
	
	<!-- design goals -->
	<!-- a level 1 implement is 15 damage -->
	<!-- a level 2 implement is 30 damage -->
	<!-- etc -->
	
	<!-- monster implements -->
	<key>slime bash</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>-10</integer>
		<key>element</key> <string>no element</string>
		<key>attack effect</key> <string>direction slam</string>
	</dict>
	<key>teeth</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>10</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string> <!-- TODO: special "bite" down melee with a row of teeth projectile -->
	</dict>
	<key>strong teeth</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>20</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string> <!-- TODO: the same effect as teeth -->
	</dict>
	<key>claw relic</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>basic relic</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>advanced relic</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- weapons -->
	<key>rusty blade</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>0</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>A rusty old sword.</string>
	</dict>
	<key>shortsword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>A simple iron sword.</string>
	</dict>
	<key>longsword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>A well-made steel sword.</string>
	</dict>
	<key>bastard sword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>A large, deadly sword.</string>
	</dict>
	<key>masterwork sword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>50</integer>
		<key>element</key> <string>cut</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>A sword made by a master smith.</string>
	</dict>
	<key>wooden club</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A simple wooden club.</string>
	</dict>
	<key>mace</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A mace with an iron head.</string>
	</dict>
	<key>flail</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A powerful steel flail.</string>
	</dict>
	<key>flanged mace</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>An mace with a knobbed head.</string>
	</dict>
	<key>morning star</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>50</integer>
		<key>description</key> <string>A deadly mace with a spiked head.</string>
	</dict>
	<key>torch</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>herb</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>burn</string>
		<key>description</key> <string>A hefty branch burning with eternal fire. A classic weapon.</string>
	</dict>
	<key>holy baton</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>shock</string>
		<key>description</key> <string>A metal baton crackling with power.</string>
	</dict>
	<key>burning blade</key> <!-- level 4 -->
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>50</integer>
		<key>element</key> <string>burn</string>
		<key>attack effect</key> <string>slash</string>
		<key>description</key> <string>An eldritch sword that catches flame on command.</string>
	</dict>
	<key>relic edge</key> <!-- level 4 -->
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>50</integer>
		<key>element</key> <string>shock</string>
		<key>description</key> <string>An ornate Eol axe with a glowing edge.</string>
	</dict>
	
	<!-- shields -->
	<key>wooden shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A crude shield made of wood.</string>
	</dict>
	<key>buckler</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A small shield made of solid iron.</string>
	</dict>
	<key>kite shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A large, diamond-shaped shield made of steel.</string>
	</dict>
	<key>relic shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A fine shield made with Eol techniques.</string>
	</dict>
	
	<!-- hammers -->
	<key>mallet</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A large hammer made of wood.</string>
	</dict>
	<key>sledgehammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>An iron hammer not designed for use in fights.</string>
	</dict>
	<key>warhammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A steel hammer made for fighting.</string>
	</dict>
	<key>greathammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A large hammer with a very heavy head.</string>
	</dict>
	
	<!-- spears -->
	<key>wooden spear</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A long wooden stick with a sharpened head.</string>
	</dict>
	<key>iron spear</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A simple spear with an iron head.</string>
	</dict>
	<key>pike</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A long spear with a steel head.</string>
	</dict>
	<key>partisan</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A spear with a hooked head.</string>
	</dict>
	
	<!-- daggers -->
	<key>shiv</key>
	<dict>
		<key>type</key> <string>dagger</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A crude makeshift dagger, used by those with no real weapons.</string>
	</dict>
	<key>dagger</key>
	<dict>
		<key>type</key> <string>dagger</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A simple but effective dagger made of iron.</string>
	</dict>
	<key>stiletto</key>
	<dict>
		<key>type</key> <string>dagger</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A long, thin steel dagger designed to penetrate deeply.</string>
	</dict>
	<key>combat knife</key>
	<dict>
		<key>type</key> <string>dagger</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>An advanced dagger often used as a secondary weapon by the Eol military.</string>
	</dict>
	
	<!-- bows -->
	<key>hunting bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>An old bow meant for hunting game, not people.</string>
	</dict>
	<key>shortbow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A small but well-made bow.</string>
	</dict>
	<key>longbow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A powerful bow. Requires great strength to use.</string>
	</dict>
	<key>composite bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>An advanced bow fitted with a mechanism to increase power.</string>
	</dict>
	<key>bodkin bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>smash</string>
		<key>description</key> <string>A small bow that fires heavy bodkin arrows.</string>
	</dict>
	<key>pitch bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>burn</string>
		<key>description</key> <string>A large bow that shoots flaming arrows.</string>
	</dict>
	<key>relic bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>element</key> <string>shock</string>
		<key>description</key> <string>An amazing bow that launches holy arrows.</string>
	</dict>
	
	<!-- light orbs -->
	<key>depleted orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>An old Eol relic that is barely functional anymore.</string>
	</dict>
	<key>glimmering orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A spherical relic that shines with a faint light.</string>
	</dict>
	<key>glowing orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A spherical relic that glows brightly.</string>
	</dict>
	<key>radiant orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A replica Eol relic that is almost too bright to look at.</string>
	</dict>
	
	<!-- holy weapons -->
	<key>holy bolt</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A simple holy weapon designed mostly for ceremonial use.</string>
	</dict>
	<key>holy thunder</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A holy weapon often used by the Eoling military.</string>
	</dict>
	<key>white lightning</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>An holy weapon made based on an ancient Eol design.</string>
	</dict>
	<key>pearl arsenal</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A powerful holy weapon designed shortly before the fall of Eol.</string>
	</dict>
	
	<!-- unholy weapons -->
	<key>old scratch</key>
	<dict>
		<key>type</key> <string>unholy weapon</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A forbidden weapon. Once very powerful, but weakened by lack of maintenance.</string>
	</dict>
	<key>guilt</key>
	<dict>
		<key>type</key> <string>unholy weapon</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A crude unholy weapon made of heavy iron. Despite the name, you don't feel bad about having one.</string>
	</dict>
	<key>inferno</key>
	<dict>
		<key>type</key> <string>unholy weapon</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>An unholy weapon capable of generating intense heat. Old Eol writings suggest they were once commonly used by soldiers, before they were banned.</string>
	</dict>
	<key>damnation</key>
	<dict>
		<key>type</key> <string>unholy weapon</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A weapon of great power designed in secret in modern times. Owning one is considered a capital offense by the Eolings.</string>
	</dict>
	
	
	<!-- godly implants -->
	<key>innocence</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A simple implant meant to train a person's body to accept implants.</string>
	</dict>
	<key>birthright</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A standard implant made in large numbers by the old Eol.</string>
	</dict>
	<key>faith</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A military implant that is said to be quite painful to use.</string>
	</dict>
	<key>conviction</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A powerful implant normally given to favored servants of the clergy.</string>
	</dict>
	
	<!-- ritual knives -->
	<key>kitchen knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>An ordinary knife meant for chopping up vegetables.</string>
	</dict>
	<key>ritual knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>fang</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A knife designed for drawing blood.</string>
	</dict>
	<key>athame</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>quicksilver</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A special knife that channels power.</string>
	</dict>
	<key>relic knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>An old Eol knife adapted for use in rituals.</string>
	</dict>
	
	<!-- tomes -->
	<key>fundamentals</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A threadbare old book that teaches basic ritual knowledge.</string>
	</dict>
	<key>ritual compendium</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>fang</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A heavy book with comprehensive information about rituals.</string>
	</dict>
	<key>ether dynamics</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>quicksilver</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>An advanced book full of obscure ritual formulas and techniques.</string>
	</dict>
	<key>forbidden tome</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A sealed tome of the type used to cause the fall of Eol.</string>
	</dict>
	
	<!-- rods -->
	<key>crumbling rod</key>
	<dict>
		<key>type</key> <string>rod</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A crude stone rod that is beginning to fall apart.</string>
	</dict>
	<key>iron rod</key>
	<dict>
		<key>type</key> <string>rod</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A solid iron rod. Too short to use as a bludgeon.</string>
	</dict>
	<key>silver rod</key>
	<dict>
		<key>type</key> <string>rod</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A rod made of alchemical silver, covered in filigree.</string>
	</dict>
	<key>gold rod</key>
	<dict>
		<key>type</key> <string>rod</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A rod made of alchemical gold, ornately carved with mystic signs.</string>
	</dict>
	
	<!-- timepieces -->
	<key>stopped clock</key>
	<dict>
		<key>type</key> <string>timepiece</string>
		<key>power</key> <integer>0</integer>
		<key>description</key> <string>A broken old clock that is right only twice a day.</string>
	</dict>
	<key>wristwatch</key>
	<dict>
		<key>type</key> <string>timepiece</string>
		<key>breaks into</key> <string>fang</string>
		<key>power</key> <integer>15</integer>
		<key>description</key> <string>A cheap, mass-produced timepiece worn on the wrist.</string>
	</dict>
	<key>pocket watch</key>
	<dict>
		<key>type</key> <string>timepiece</string>
		<key>breaks into</key> <string>quicksilver</string>
		<key>power</key> <integer>30</integer>
		<key>description</key> <string>A sophisticated timepiece made of alchemical silver.</string>
	</dict>
	<key>stopwatch</key>
	<dict>
		<key>type</key> <string>timepiece</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>45</integer>
		<key>description</key> <string>A timepiece used to start and stop.</string>
	</dict>
</dict>
</plist>