<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Implements.plist
   Delve

   Created by Theodore Abshire on 2/26/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>type</key> <string>template</string>
		<key>breaks into</key> <string>template</string>
		<key>power</key> <integer>0</integer>
		<key>element</key> <string>cut</string>
	</dict>
	
	<!-- design goals -->
	<!-- a level 1 implement is 15 damage -->
	<!-- a level 2 implement is 30 damage -->
	<!-- etc -->
	
	<!-- monster implements -->
	<key>teeth</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>10</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>basic relic</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>cut</string>
	</dict>
	
	<!-- weapons -->
	<key>rusty blade</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>0</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>shortsword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>longsword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>bastard sword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>masterwork sword</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>50</integer>
		<key>element</key> <string>cut</string>
	</dict>
	<key>wooden club</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>mace</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>flail</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>flanged mace</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
	</dict>
	<key>morning star</key>
	<dict>
		<key>type</key> <string>weapon</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>50</integer>
	</dict>
	<key>torch</key>
	<dict>
		<key>type</key> <string>burn</string>
		<key>breaks into</key> <string>herb</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>holy baton</key>
	<dict>
		<key>type</key> <string>shock</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>burning blade</key> <!-- level 4 -->
	<dict>
		<key>type</key> <string>burn</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>50</integer>
	</dict>
	<key>relic edge</key> <!-- level 4 -->
	<dict>
		<key>type</key> <string>shock</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>50</integer>
	</dict>
	
	<!-- shields -->
	<key>wooden shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>buckler</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>kite shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>relic shield</key>
	<dict>
		<key>type</key> <string>shield</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- hammers -->
	<key>mallet</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>light hammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>warhammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>greathammer</key>
	<dict>
		<key>type</key> <string>hammer</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- spears -->
	<key>wooden spear</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>iron spear</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>pike</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>partisan</key>
	<dict>
		<key>type</key> <string>spear</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- bows -->
	<key>hunting bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>shortbow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>iron ingot</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>longbow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>steel ingot</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>composite bow</key>
	<dict>
		<key>type</key> <string>bow</string>
		<key>breaks into</key> <string>refined ingot</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- light orbs -->
	<key>depleted orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>glimmering orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>glowing orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>radiant orb</key>
	<dict>
		<key>type</key> <string>light orb</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- holy weapons -->
	<key>holy bolt</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>holy thunder</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>white lightning</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>pearl arsenal</key>
	<dict>
		<key>type</key> <string>holy weapon</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- godly implants -->
	<key>innocence</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>birthright</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>capacitor</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>faith</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>battery</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>conviction</key>
	<dict>
		<key>type</key> <string>godly implant</string>
		<key>breaks into</key> <string>circuit</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- ritual knives -->
	<key>kitchen knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>ritual knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>fang</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>athame</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>quicksilver</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>relic knife</key>
	<dict>
		<key>type</key> <string>ritual knife</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>45</integer>
	</dict>
	
	<!-- tomes -->
	<key>fundamentals</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>power</key> <integer>0</integer>
	</dict>
	<key>ritual compendium</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>fang</string>
		<key>power</key> <integer>15</integer>
	</dict>
	<key>ether dynamics</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>quicksilver</string>
		<key>power</key> <integer>30</integer>
	</dict>
	<key>forbidden tome</key>
	<dict>
		<key>type</key> <string>tome</string>
		<key>breaks into</key> <string>diamond dust</string>
		<key>power</key> <integer>45</integer>
	</dict>
</dict>
</plist>