<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   InventoryItems.plist
   Delve

   Created by Theodore Abshire on 2/28/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>healing</key> <integer>100</integer>
		<!-- TODO: status effect data -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- ammo items -->
	<key>crystal</key>
	<dict>
		<!-- TODO: status effect data -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- healing items -->
	<key>bread</key>
	<dict>
		<key>healing</key> <integer>40</integer>
		<!-- TODO: status effect data -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- status effect items -->
	<!-- TODO: make them -->
	
	<!-- crafting material items -->
	<!-- TODO: make them -->
</dict>
</plist>
