<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Lists.plist
   Delve

   Created by Theodore Abshire on 2/26/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<!-- starting lists -->
	<key>starting implements</key>
	<array>
		<string>wooden shield</string>
		<string>mallet</string>
		<string>wooden spear</string>
		<string>hunting bow</string>
		<string>depleted orb</string>
		<string>holy bolt</string>
		<string>innocence</string>
		<string>kitchen knife</string>
		<string>fundamentals</string>
		<string>stopped clock</string>
		<string>crumbling rod</string>
		<string>shiv</string>
	</array>
	
	<!-- inventory item drop leveled lists -->
	<key>drops 1</key>
	<array>
		<string>herb</string>
		<string>herb</string>
		<string>fang</string>
		<string>fabric</string>
		<string>bread</string>
		<string>bread</string>
		<string>bread</string>
		<string>crystal</string>
		<string>crystal</string>
		<string>crystal</string>
		<!-- TODO: one buff item -->
	</array>
	<key>drops 2</key>
	<array>
		<string>herb</string>
		<string>fabric</string>
		<string>cheese</string>
		<string>cheese</string>
		<string>crystal</string>
		<string>crystal</string>
		<!-- TODO: one buff item -->
	</array>
	<key>drops 3</key>
	<array>
		<string>herb</string>
		<string>silk</string>
		<string>ration</string>
		<string>ration</string>
		<string>crystal</string>
		<string>crystal</string>
		<!-- TODO: one buff item -->
	</array>
	<key>drops 4</key>
	<array>
		<string>herb</string>
		<string>diamond dust</string>
		<string>silk</string>
		<string>steak</string>
		<string>steak</string>
		<string>crystal</string>
		<string>crystal</string>
		<!-- TODO: one buff item -->
	</array>
	
	<!-- item drop leveled lists -->
	<key>implements 1</key>
	<array>
		<!-- common stuff -->
		<string>buckler</string>
		<string>sledgehammer</string>
		<string>iron spear</string>
		<string>shortbow</string>
		<string>glimmering orb</string>
		<string>holy thunder</string>
		<string>birthright</string>
		<string>ritual knife</string>
		<string>ritual compendium</string>
		<string>shortsword</string>
		<string>mace</string>
		<string>wristwatch</string>
		<string>iron rod</string>
		<string>dagger</string>
		<!-- common stuff again -->
		<string>buckler</string>
		<string>sledgehammer</string>
		<string>iron spear</string>
		<string>shortbow</string>
		<string>glimmering orb</string>
		<string>holy thunder</string>
		<string>birthright</string>
		<string>ritual knife</string>
		<string>ritual compendium</string>
		<string>shortsword</string>
		<string>mace</string>
		<string>wristwatch</string>
		<string>iron rod</string>
		<string>dagger</string>
		<!-- rare stuff -->
		<string>torch</string>
	</array>
	<key>implements 2</key>
	<array>
		<!-- common stuff -->
		<string>kite shield</string>
		<string>warhammer</string>
		<string>pike</string>
		<string>longbow</string>
		<string>glowing orb</string>
		<string>white lightning</string>
		<string>faith</string>
		<string>athame</string>
		<string>ether dynamics</string>
		<string>longsword</string>
		<string>flail</string>
		<string>pocket watch</string>
		<string>silver rod</string>
		<string>stiletto</string>
		<!-- common stuff again -->
		<string>kite shield</string>
		<string>warhammer</string>
		<string>pike</string>
		<string>longbow</string>
		<string>glowing orb</string>
		<string>white lightning</string>
		<string>faith</string>
		<string>athame</string>
		<string>ether dynamics</string>
		<string>longsword</string>
		<string>flail</string>
		<string>pocket watch</string>
		<string>silver rod</string>
		<string>stiletto</string>
		<!-- rare stuff -->
		<string>holy baton</string>
	</array>
	<key>implements 3</key>
	<array>
		<!-- common stuff -->
		<string>relic shield</string>
		<string>greathammer</string>
		<string>partisan</string>
		<string>composite bow</string>
		<string>radiant orb</string>
		<string>pearl arsenal</string>
		<string>conviction</string>
		<string>relic knife</string>
		<string>forbidden tome</string>
		<string>bastard sword</string>
		<string>flanged mace</string>
		<string>stopwatch</string>
		<string>gold rod</string>
		<string>combat knife</string>
		<!-- common stuff again -->
		<string>relic shield</string>
		<string>greathammer</string>
		<string>partisan</string>
		<string>composite bow</string>
		<string>radiant orb</string>
		<string>pearl arsenal</string>
		<string>conviction</string>
		<string>relic knife</string>
		<string>forbidden tome</string>
		<string>bastard sword</string>
		<string>flanged mace</string>
		<string>stopwatch</string>
		<string>gold rod</string>
		<string>combat knife</string>
		<!-- rare stuff -->
	</array>
	<key>armors 1</key>
	<array>
		<!-- common stuff -->
		<string>pot helmet</string>
		<string>rusty armor</string>
		<string>correction glasses</string>
		<string>headband</string>
		<string>eoling robe</string>
		<string>burnished ring</string>
		<string>rough ring</string>
		<string>iron tail ring</string>
		<string>white tail banner</string>
		<string>boots</string>
		<string>cheap shoes</string>
		<!-- common stuff again -->
		<!-- rare stuff -->
	</array>
	<key>armors 2</key>
	<array>
		<!-- common stuff -->
		<string>riveted helmet</string>
		<string>chestplate</string>
		<string>goggles</string>
		<string>tiara</string>
		<string>eoling mantle</string>
		<string>plain necklace</string>
		<string>silver bangle</string>
		<string>steel tail ring</string>
		<string>red tail banner</string>
		<string>reinforced boots</string>
		<string>leather shoes</string>
		<!-- common stuff again -->
		<!-- rare stuff -->
	</array>
	<key>armors 3</key>
	<array>
		<!-- common stuff -->
		<string>soldier hat</string>
		<string>winged helmet</string>
		<string>hero armor</string>
		<string>advanced goggles</string>
		<string>silk headband</string>
		<string>temple dancer outfit</string>
		<string>jeweled ring</string>
		<string>skull ring</string>
		<string>gold tail ring</string>
		<string>blue tail banner</string>
		<string>steel-toed boots</string>
		<string>fine shoes</string>
		<!-- common stuff again -->
		<!-- rare stuff -->
	</array>
	<key>armors 4</key>
	<array>
		<!-- common stuff -->
		<string>hero helmet</string>
		<string>knight helmet</string>
		<string>knight armor</string>
		<string>relic goggles</string>
		<string>gold tiara</string>
		<string>eoling armor</string>
		<string>gem necklace</string>
		<string>gold bangle</string>
		<string>relic tail ring</string>
		<string>gold tail banner</string>
		<string>greaves</string>
		<string>fancy shoes</string>
		<!-- common stuff again -->
		<!-- rare stuff -->
	</array>
	
	<!-- crafting recipies -->
	<key>smithing 1</key>
	<array>
		<string>shortsword</string>
		<string>mace</string>
		<string>buckler</string>
		<string>sledgehammer</string>
		<string>iron spear</string>
		<string>dagger</string>
		<string>shortbow</string>
		<string>bodkin bow</string>
		<string>rusty helmet</string>
		<string>pot helmet</string>
		<string>rusty armor</string>
		<string>eoling robe</string>
		<string>iron tail ring</string>
		<string>white tail banner</string>
		<string>boots</string>
		<string>cheap shoes</string>
	</array>
	<key>smithing 2</key>
	<array>
		<string>longsword</string>
		<string>flail</string>
		<string>kite shield</string>
		<string>warhammer</string>
		<string>pike</string>
		<string>stiletto</string>
		<string>longbow</string>
		<string>pitch bow</string>
		<string>skullcap</string>
		<string>riveted helmet</string>
		<string>chestplate</string>
		<string>eoling mantle</string>
		<string>steel tail ring</string>
		<string>red tail banner</string>
		<string>reinforced boots</string>
		<string>leather shoes</string>
	</array>
	<key>smithing 3</key>
	<array>
		<string>bastard sword</string>
		<string>flanged mace</string>
		<string>relic shield</string>
		<string>greathammer</string>
		<string>partisan</string>
		<string>combat knife</string>
		<string>composite bow</string>
		<string>relic bow</string>
		<string>bandit helmet</string>
		<string>soldier hat</string>
		<string>winged helmet</string>
		<string>hero armor</string>
		<string>temple dancer outfit</string>
		<string>gold tail ring</string>
		<string>blue tail banner</string>
		<string>steel-toed boots</string>
		<string>fine shoes</string>
	</array>
	<key>smithing 4</key>
	<array>
		<string>masterwork sword</string>
		<string>morning star</string>
		<string>hero helmet</string>
		<string>knight helmet</string>
		<string>knight armor</string>
		<string>eoling armor</string>
		<string>relic tail ring</string>
		<string>gold tail banner</string>
		<string>greaves</string>
		<string>fancy shoes</string>
	</array>
	<key>false prophet 1</key>
	<array>
		<string>crystals A</string>
		<string>glimmering orb</string>
		<string>holy thunder</string>
		<string>birthright</string>
		<string>correction glasses</string>
	</array>
	<key>false prophet 2</key>
	<array>
		<string>crystals B</string>
		<string>holy baton</string>
		<string>glowing orb</string>
		<string>white lightning</string>
		<string>faith</string>
		<string>goggles</string>
		<string>strength rig</string>
	</array>
	<key>false prophet 3</key>
	<array>
		<string>crystals C</string>
		<string>radiant orb</string>
		<string>pearl arsenal</string>
		<string>conviction</string>
		<string>advanced goggles</string>
	</array>
	<key>false prophet 4</key>
	<array>
		<string>relic edge</string>
		<string>relic goggles</string>
		<string>speed rig</string>
		<string>mind shield</string>
	</array>
	<key>alchemy 1</key>
	<array>
		<string>iron A</string>
		<string>herbal draught</string>
		<string>torch</string>
		<string>ritual knife</string>
		<string>ritual compendium</string>
		<string>iron rod</string>
		<string>wristwatch</string>
		<string>headband</string>
		<string>burnished ring</string>
		<string>rough ring</string>
	</array>
	<key>alchemy 2</key>
	<array>
		<string>iron B</string>
		<string>blood pack</string>
		<string>athame</string>
		<string>ether dynamics</string>
		<string>silver rod</string>
		<string>pocket watch</string>
		<string>tiara</string>
		<string>plain necklace</string>
		<string>silver bangle</string>
	</array>
	<key>alchemy 3</key>
	<array>
		<string>silvery salve</string>
		<string>relic knife</string>
		<string>forbidden tome</string>
		<string>gold rod</string>
		<string>stopwatch</string>
		<string>silk headband</string>
		<string>jeweled ring</string>
		<string>skull ring</string>
	</array>
	<key>alchemy 4</key>
	<array>
		<string>fizzling drink</string>
		<string>burning blade</string>
		<string>gold tiara</string>
		<string>gem necklace</string>
		<string>gold bangle</string>
	</array>
</dict>
</plist>