<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Races.plist
   Delve

   Created by Theodore Abshire on 2/21/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>100</integer>
		<key>smash resistance</key> <integer>0</integer>
		<key>cut resistance</key> <integer>0</integer>
		<key>shock resistance</key> <integer>0</integer>
		<key>burn resistance</key> <integer>0</integer>
		<key>dodges</key> <integer>3</integer>
		<key>blocks</key> <integer>0</integer>
		<key>hacks</key> <integer>0</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>body</string>
			<string>sacred</string>
			<string>ritual</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>helmet</string>
			<string>headgear</string>
			<string>small clothes</string>
			<string>tail ornament</string>
			<string>jewelry</string>
			<string>shoes</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>template</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>iron</string>
				<key>hair</key> <string>iron</string>
			</dict>
		</array>
		<!-- TODO: hairs -->
		<!-- TODO: armor slot y offsets -->
		<key>has gender</key> <true/>
	</dict>
	
	<!-- design goal -->
	<!-- player races don't need to be 100% balanced with each other, since they don't directly compete, but they should be at least somewhat balanced -->
	<!-- in general you should have a 1.5 bonus on the template (see the skill tree definition) -->
	<!-- more armor shoulds should mean weaker stats, less stronger stats -->
	
	<!-- real player races -->
	
	<!-- humans -->
	<!-- the warlike race -->
	<!-- appearance: ...human -->
	<!-- a little bit tanky -->
	<key>human</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>125</integer>
		<key>burn resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>3</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>helmet</string>
			<string>shoes</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>human</string>
		<key>colorations</key> <!-- coloration: tan skin, brown or dirty blonde hair -->
		<array>
			<dict>
				<key>skin</key> <string>tan skin</string>
				<key>hair</key> <string>brown hair</string>
			</dict>
		</array>
		<!-- TODO: hairs -->
		<!-- TODO: armor slot y offsets -->
		<key>has gender</key> <true/>
	</dict>
	
	<!-- eolings -->
	<!-- the short person race; tend to be religious (or heretics) -->
	<!-- appearance: short hairy people with hair-colored tails -->
	<!-- a bit dodgy and ranged-focused -->
	<key>eoling</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>110</integer>
		<key>health</key> <integer>75</integer>
		<key>shock resistance</key> <integer>2</integer>
		<key>dodges</key> <integer>4</integer>
		<key>hacks</key> <integer>1</integer>
		<key>metabolism</key> <integer>90</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>sacred</string>
			<string>body</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>small clothes</string>
			<string>headgear</string>
			<string>tail ornament</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>eoling</string>
		<!-- TODO: colorations --> <!-- coloration deep pale brown skin and white hair, or pale white skin and near-jet-black hair -->
		<!-- TODO: hairs -->
		<!-- TODO: armor slot y offsets -->
		<key>has gender</key> <true/>
	</dict>
	
	<!-- highborn -->
	<!-- the magic race; very cultured, and they're big eaters -->
	<!-- appearance: horned people with hoofs -->
	<!-- they're big on nuking -->
	<key>highborn</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>125</integer>
		<key>health</key> <integer>100</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>2</integer>
		<key>metabolism</key> <integer>130</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>ritual</string>
			<string>ritual</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>headgear</string>
			<string>jewelry</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>highborn</string>
		<!-- TODO: colorations --> <!-- coloration: brown skin and green hair, or olive skin and purplish hair -->
		<!-- TODO: hairs -->
		<!-- TODO: armor slot y offsets -->
		<key>has gender</key> <true/>
	</dict>
	
	<!-- raider -->
	<!-- the orcs, basically; they're big and tough and kinda primitive -->
	<!-- appearance tall big-bodied people with flesh-colored tails (should have the same end as eolings, so they can also use tail ornaments) -->
	<!-- they live in a very rigid society, so they don't get much choice in skill types -->
	<key>raider</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>115</integer>
		<key>health</key> <integer>115</integer>
		<key>cut resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>2</integer>
		<key>blocks</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>war</string>
			<string>body</string>
			<string>body</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>helmet</string>
			<string>tail ornament</string>
			<string>shoes</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>raider</string>
		<!-- TODO: colorations --> <!-- coloration: grey skin, orange hair, no exceptions -->
		<!-- TODO: hairs -->
		<!-- TODO: armor slot y offsets -->
		<key>has gender</key> <true/>
	</dict>
	
	<!-- design goal -->
	<!-- weak enemy races should have a disadvantage of 2 -->
	<!-- medium enemy races, an advantage of 0.5 -->
	<!-- strong enemy races, an advantage of 3.5 -->
	<!-- note that enemy races are made with the assumption that they have no armor at all -->
	<!-- TODO: don't modify the metabolism, enemies shouldn't try to use health pickups anyway -->
	
	<!-- enemy races -->
	
	<!-- ruin feeder -->
	<!-- ruin feeders are a weak, somewhat dodgy enemy -->
	<key>ruin feeder</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>88</integer>
		<key>health</key> <integer>50</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>3</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- sentry -->
	<!-- sentries are a weak melee robot enemy type, characterized by having high burn resistance -->
	<key>sentry</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>75</integer>
		<key>health</key> <integer>88</integer>
		<key>burn resistance</key> <integer>3</integer>
		<key>dodges</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- android -->
	<!-- androids are a versatile medium robot enemy type; they are the dodgiest robot -->
	<key>android</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>112</integer>
		<key>dodges</key> <integer>2</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<!-- TODO: appearance data -->
	</dict>
	
	<!-- war bot -->
	<!-- war bots are a tough enemy type, that are heavily hardened against cuts -->
	<key>war bot</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>125</integer>
		<key>health</key> <integer>163</integer>
		<key>cut resistance</key> <integer>4</integer>
		<key>blocks</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<!-- TODO: appearance data -->
	</dict>
</dict>
</plist>