<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Races.plist
   Delve

   Created by Theodore Abshire on 2/21/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>100</integer>
		<key>smash resistance</key> <integer>0</integer>
		<key>cut resistance</key> <integer>0</integer>
		<key>shock resistance</key> <integer>0</integer>
		<key>burn resistance</key> <integer>0</integer>
		<key>dodges</key> <integer>1</integer>
		<key>blocks</key> <integer>0</integer>
		<key>hacks</key> <integer>0</integer>
		<key>metabolism</key> <integer>100</integer>
		<key>delay reduction</key> <integer>0</integer>
		<key>counter</key> <integer>0</integer>
		<key>racial counter attack</key> <string>counter</string>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>body</string>
			<string>sacred</string>
			<string>ritual</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>helmet</string>
			<string>headgear</string>
			<string>small clothes</string>
			<string>tail ornament</string>
			<string>jewelry</string>
			<string>shoes</string>
		</array>
		<key>race start weapon</key> <string>wooden club</string>
		<key>race start armor</key> <string>peasant clothes</string>
		<!-- appearance -->
		<key>sprite</key> <string>template</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>iron</string>
				<key>hair</key> <string>iron</string>
			</dict>
		</array>
		<key>hair styles</key> <integer>0</integer>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
		</array>
		<key>has gender</key> <true/>
	</dict>
	
	<!-- design goal -->
	<!-- player races don't need to be 100% balanced with each other, since they don't directly compete, but they should be at least somewhat balanced -->
	<!-- in general you should have a 1.5 bonus on the template (see the skill tree definition) -->
	<!-- more armor shoulds should mean weaker stats, less stronger stats -->
	
	<!-- real player races -->
	
	<!-- humans -->
	<!-- the warlike race -->
	<!-- appearance: ...human -->
	<!-- a little bit tanky -->
	<key>human</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>125</integer>
		<key>burn resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>1</integer>
		<key>hacks</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>helmet</string>
			<string>shoes</string>
		</array>
		<key>race start weapon</key> <string>rusty blade</string>
		<key>race start armor</key> <string>peasant clothes</string>
		<!-- appearance -->
		<key>sprite</key> <string>human</string>
		<key>colorations</key> <!-- coloration: tan skin, brown or dirty blonde hair -->
		<array>
			<dict>
				<key>skin</key> <string>tan skin</string>
				<key>hair</key> <string>brown hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>tan skin</string>
				<key>hair</key> <string>blonde hair</string>
			</dict>
		</array>
		<key>hair styles</key> <integer>2</integer>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>has gender</key> <true/>
	</dict>
	
	<!-- eolings -->
	<!-- the short person race; tend to be religious (or heretics) -->
	<!-- appearance: short hairy people with hair-colored tails -->
	<!-- a bit dodgy and ranged-focused -->
	<key>eoling</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>115</integer>
		<key>health</key> <integer>75</integer>
		<key>shock resistance</key> <integer>2</integer>
		<key>dodges</key> <integer>2</integer>
		<key>hacks</key> <integer>2</integer>
		<key>metabolism</key> <integer>90</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>sacred</string>
			<string>body</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>small clothes</string>
			<string>headgear</string>
			<string>tail ornament</string>
		</array>
		<key>race start weapon</key> <string>wooden club</string>
		<key>race start armor</key> <string>urchin rags</string>
		<!-- appearance -->
		<key>sprite</key> <string>eoling</string>
		<key>colorations</key> <!-- coloration deep pale brown skin and white hair, or pale white skin and near-jet-black hair -->
		<array>
			<dict>
				<key>skin</key> <string>black hair</string>
				<key>hair</key> <string>pale skin</string>
			</dict>
			<dict>
				<key>skin</key> <string>pale skin</string>
				<key>hair</key> <string>black hair</string>
			</dict>
		</array>
		<key>hair styles</key> <integer>2</integer>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
		</array>
		<key>has gender</key> <true/>
	</dict>
	
	<!-- highborn -->
	<!-- the magic race; very cultured, and they're big eaters -->
	<!-- appearance: horned people with hoofs -->
	<!-- they're big on nuking -->
	<key>highborn</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>125</integer>
		<key>health</key> <integer>100</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>hacks</key> <integer>1</integer>
		<key>metabolism</key> <integer>130</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>ritual</string>
			<string>ritual</string>
			<string>body</string>
			<string>wildcard</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>body armor</string>
			<string>headgear</string>
			<string>jewelry</string>
		</array>
		<key>race start weapon</key> <string>wooden club</string>
		<key>race start armor</key> <string>noble clothes</string>
		<!-- appearance -->
		<key>sprite</key> <string>highborn</string>
		<key>colorations</key> <!-- coloration: brown skin and green hair, or olive skin and purplish hair -->
		<array>
			<dict>
				<key>skin</key> <string>brown skin</string>
				<key>hair</key> <string>green hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>olive skin</string>
				<key>hair</key> <string>purple hair</string>
			</dict>
		</array>
		<key>hair styles</key> <integer>2</integer>
		<key>armor slot y offsets</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>has gender</key> <true/>
	</dict>
	
	<!-- raider -->
	<!-- the orcs, basically; they're big and tough and kinda primitive -->
	<!-- appearance tall big-bodied people with flesh-colored tails (should have the same end as eolings, so they can also use tail ornaments) -->
	<!-- they live in a very rigid society, so they don't get much choice in skill types -->
	<key>raider</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>115</integer>
		<key>health</key> <integer>140</integer>
		<key>cut resistance</key> <integer>1</integer>
		<key>blocks</key> <integer>1</integer>
		<key>hacks</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>skill slot types</key>
		<array>
			<string>war</string>
			<string>war</string>
			<string>body</string>
			<string>body</string>
			<string>wildcard</string>
		</array>
		<key>armor slots</key>
		<array>
			<string>raider armor</string>
			<string>helmet</string>
			<string>tail ornament</string>
		</array>
		<key>race start weapon</key> <string>rusty blade</string>
		<key>race start armor</key> <string>raider loincloth</string>
		<!-- appearance -->
		<key>sprite</key> <string>raider</string>
		<key>colorations</key> <!-- coloration: grey skin, orange hair, no exceptions -->
		<array>
			<dict>
				<key>skin</key> <string>grey skin</string>
				<key>hair</key> <string>orange hair</string>
			</dict>
		</array>
		<key>hair styles</key> <integer>1</integer>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
			<integer>-2</integer>
			<integer>0</integer>
		</array>
		<key>has gender</key> <true/>
	</dict>
	
	<!-- TODO: maybe there should be an enemy race who has a built-in version of the skate effect? -->
	
	
	<!-- design goal -->
	<!-- weak enemy races should have a disadvantage of 2 -->
	<!-- medium enemy races, an advantage of 0.5 -->
	<!-- strong enemy races, an advantage of 3.5 -->
	<!-- note that enemy races are made with the assumption that they have no armor at all -->
	<!-- TODO: don't modify the metabolism, enemies shouldn't try to use health pickups anyway -->
	
	<!-- enemy races -->
	
	<!-- slime (weak) -->
	<!-- slimes are a very tanky enemy with a built-in counter-attack, good cut resistance, and a significant burn weakness -->
	<key>slime</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>75</integer>
		<key>health</key> <integer>80</integer>
		<key>cut resistance</key> <integer>2</integer>
		<key>burn resistance</key> <integer>-3</integer>
		<key>metabolism</key> <integer>100</integer>
		<key>counter</key> <integer>5</integer>
		<key>racial counter attack</key> <string>slime counter</string>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>slime</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>green hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>purple hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>blonde hair</string>
			</dict>
		</array>
	</dict>
	
	<!-- great slime (strong) -->
	<!-- great slimes are like slimes but better in every way, basically -->
	<key>great slime</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>87</integer>
		<key>health</key> <integer>85</integer>
		<key>cut resistance</key> <integer>3</integer>
		<key>burn resistance</key> <integer>-3</integer>
		<key>metabolism</key> <integer>100</integer>
		<key>counter</key> <integer>10</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>greater_slime</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>green hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>purple hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>blonde hair</string>
			</dict>
		</array>
	</dict>
	
	<!-- ruin feeder runts (weak) -->
	<!-- ruin feeder runts are a weak, somewhat dodgy enemy -->
	<key>ruin feeder runt</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>88</integer>
		<key>health</key> <integer>50</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>ruin_feeder_runt</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>brown hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>brown skin</string>
			</dict>
			<dict>
				<key>skin</key> <string>orange hair</string>
			</dict>
		</array>
	</dict>
	
	<!-- ruin feeder (medium) -->
	<!-- ruin feeders are a balanced enemy type, a stronger version of the runts basically -->
	<key>ruin feeder</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>110</integer>
		<key>health</key> <integer>90</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>dodges</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>armor slots</key>
		<array>
			<string>monster</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>ruin_feeder</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>brown hair</string>
			</dict>
			<dict>
				<key>skin</key> <string>brown skin</string>
			</dict>
			<dict>
				<key>skin</key> <string>orange hair</string>
			</dict>
		</array>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	
	<!-- fierce ruin feeder (strong) -->
	<!-- fierce ruin feeders are the strongest type of ruin feeder -->
	<key>fierce ruin feeder</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>125</integer>
		<key>health</key> <integer>112</integer>
		<key>smash resistance</key> <integer>2</integer>
		<key>dodges</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>ruin_feeder</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>grey skin</string>
			</dict>
			<dict>
				<key>skin</key> <string>iron</string>
			</dict>
		</array>
	</dict>
	
	<!-- sentry (weak) -->
	<!-- sentries are a weak melee robot enemy type, characterized by having high burn resistance -->
	<key>sentry</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>63</integer>
		<key>health</key> <integer>76</integer>
		<key>shock resistance</key> <integer>-1</integer>
		<key>burn resistance</key> <integer>4</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>sentry</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>relic</string>
			</dict>
		</array>
	</dict>
	
	<!-- scuttler (weak) -->
	<!-- scuttlers are a weak ranged robot enemy type, meant to have high mobility -->
	<key>scuttler</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>88</integer>
		<key>health</key> <integer>76</integer>
		<key>smash resistance</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>scuttler</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>relic</string>
			</dict>
		</array>
	</dict>
	
	<!-- android (medium) -->
	<!-- androids are a versatile medium robot enemy type; they are the dodgiest robot -->
	<key>android</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>100</integer>
		<key>health</key> <integer>100</integer>
		<key>dodges</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<key>armor slots</key>
		<array>
			<string>monster</string>
		</array>
		<!-- appearance -->
		<key>sprite</key> <string>android</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>relic</string>
			</dict>
		</array>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	
	<!-- war bot (strong) -->
	<!-- war bots are a tough enemy type, that are heavily hardened against cuts -->
	<key>war bot</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>125</integer>
		<key>health</key> <integer>140</integer>
		<key>cut resistance</key> <integer>4</integer>
		<key>blocks</key> <integer>1</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>war_bot</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>relic</string>
			</dict>
		</array>
	</dict>
	
	<!-- abomination (medium) -->
	<!-- abominations are a damaging enemy type that is weak to cut but resistant against smash -->
	<key>abomination</key>
	<dict>
		<!-- stats -->
		<key>damage bonus</key> <integer>155</integer>
		<key>health</key> <integer>95</integer>
		<key>smash resistance</key> <integer>2</integer>
		<key>cut resistance</key> <integer>-3</integer>
		<key>metabolism</key> <integer>100</integer>
		<!-- slots -->
		<!-- appearance -->
		<key>sprite</key> <string>abomination</string>
		<key>colorations</key>
		<array>
			<dict>
				<key>skin</key> <string>pale skin</string>
			</dict>
			<dict>
				<key>skin</key> <string>pale skin</string>
			</dict>
		</array>
		<key>armor slot y offsets</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>