<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SkillTrees.plist
   Delve

   Created by Theodore Abshire on 2/21/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>type</key> <string>invalid</string>
		<key>implement</key> <string>shield</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>0</integer>
				<key>health</key> <integer>0</integer>
				<key>smash resistance</key> <integer>0</integer>
				<key>cut resistance</key> <integer>0</integer>
				<key>shock resistance</key> <integer>0</integer>
				<key>burn resistance</key> <integer>0</integer>
				<key>dodges</key> <integer>0</integer>
				<key>blocks</key> <integer>0</integer>
				<key>hacks</key> <integer>0</integer>
				<key>metabolism</key> <integer>0</integer>
				<key>attack</key> <string>template</string>
				<key>recipies</key> <string>template</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>0</integer>
				<key>health</key> <integer>0</integer>
				<key>smash resistance</key> <integer>0</integer>
				<key>cut resistance</key> <integer>0</integer>
				<key>shock resistance</key> <integer>0</integer>
				<key>burn resistance</key> <integer>0</integer>
				<key>dodges</key> <integer>0</integer>
				<key>blocks</key> <integer>0</integer>
				<key>hacks</key> <integer>0</integer>
				<key>metabolism</key> <integer>0</integer>
				<key>attack</key> <string>template</string>
				<key>recipies</key> <string>template</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>0</integer>
				<key>health</key> <integer>0</integer>
				<key>smash resistance</key> <integer>0</integer>
				<key>cut resistance</key> <integer>0</integer>
				<key>shock resistance</key> <integer>0</integer>
				<key>burn resistance</key> <integer>0</integer>
				<key>dodges</key> <integer>0</integer>
				<key>blocks</key> <integer>0</integer>
				<key>hacks</key> <integer>0</integer>
				<key>metabolism</key> <integer>0</integer>
				<key>attack</key> <string>template</string>
				<key>recipies</key> <string>template</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>0</integer>
				<key>health</key> <integer>0</integer>
				<key>smash resistance</key> <integer>0</integer>
				<key>cut resistance</key> <integer>0</integer>
				<key>shock resistance</key> <integer>0</integer>
				<key>burn resistance</key> <integer>0</integer>
				<key>dodges</key> <integer>0</integer>
				<key>blocks</key> <integer>0</integer>
				<key>hacks</key> <integer>0</integer>
				<key>metabolism</key> <integer>0</integer>
				<key>attack</key> <string>template</string>
				<key>recipies</key> <string>template</string>
			</dict>
		</array>
	</dict>
	
	<!-- design guidelines -->
	<!-- passive-only skill ranks give about 1 of the following (feel free to split the difference) -->
	<!-- 25 health, 25 damage bonus, 2 resistance, 1 dodge, 1 block, 30 metabolism, 2 hacks -->
	<!-- active skills give the active skill plus about half of a passive, less for a powerful active skill -->
	<!-- everything should have at least a little bit of health or whatever -->
	
	<!-- patterns -->
	<!-- A: active, passive, active, passive (mainline active-skill-based skill) -->
	<!-- B: active, active, active, active (purely active skill) -->
	<!-- C: passive, active, passive, active (balanced skill) -->
	<!-- D: passive, passive, active, passive (mostly passive skill) -->
	
	<!-- note that the "raises X" things are just a guideline, if I check the diagnostics and they say there are too many damage bonuses or w/e -->
	<!-- it's totally ok to change one or two of the damage bonuses into something else -->
	
	
	<!-- enemy-only skills -->
	<key>filler monster skill</key>
	<dict>
		<key>type</key> <string>invalid</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>8</integer>
				<key>health</key> <integer>8</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>8</integer>
				<key>health</key> <integer>8</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>8</integer>
				<key>health</key> <integer>8</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>8</integer>
				<key>health</key> <integer>8</integer>
			</dict>
		</array>
	</dict>
	<key>dodgy monster skill</key>
	<dict>
		<key>type</key> <string>invalid</string>
		<key>implement</key> <string>shield</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>dodges</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>health</key> <integer>20</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>dodges</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>20</integer>
			</dict>
		</array>
	</dict>
	<key>tough monster skill</key>
	<dict>
		<key>type</key> <string>invalid</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>health</key> <integer>15</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>health</key> <integer>15</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>health</key> <integer>15</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>health</key> <integer>15</integer>
			</dict>
		</array>
	</dict>
	
	<!-- specific monster skills -->
	<key>scuttler skill</key>
	<dict>
		<key>type</key> <string>invalid</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>erratic holy shot</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>slalom</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>health</key> <integer>15</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>dodges</key> <integer>1</integer>
			</dict>
		</array>
	</dict>
	
	
	<!-- war skills -->
	<!-- war skills mostly focus on low- or no-cooldown basic attacks, and are usually pattern A or pattern C -->
	
	<!-- shield (pattern C) -->
	<!-- a defensive war skill that focuses on blocks, with some utility attacks -->
	<!-- raises block and cut resistance -->
	<!-- implement: shields -->
	<key>shield</key>
	<dict>
		<key>type</key> <string>war</string>
		<key>implement</key> <string>shield</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>blocks</key> <integer>1</integer>
				<key>cut resistance</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>attack</key> <string>shield bash</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>blocks</key> <integer>1</integer>
				<key>cut resistance</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>15</integer>
				<key>attack</key> <string>shield boomerang</string>
			</dict>
		</array>
	</dict>
	
	<!-- hammer (pattern A) -->
	<!-- an offensive war skill that focuses on 1x1 AoE delay attacks -->
	<!-- raises damage, metabolism, and cut resistance -->
	<!-- implement: hammers -->
	<key>hammer</key>
	<dict>
		<key>type</key> <string>war</string>
		<key>implement</key> <string>hammer</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>power swing</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>cut resistance</key> <integer>2</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>metabolism</key> <integer>12</integer>
				<key>attack</key> <string>earthquake slam</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>20</integer>
				<key>cut resistance</key> <integer>1</integer>
			</dict>
		</array>
	</dict>
	
	<!-- spear (pattern A) -->
	<!-- a semi-defensive war skill that focuses on 2-range attacks -->
	<!-- raises health and damage -->
	<!-- implement: spears -->
	<key>spear</key>
	<dict>
		<key>type</key> <string>war</string>
		<key>implement</key> <string>spear</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>thrust</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>health</key> <integer>25</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>jab</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>5</integer>
				<key>health</key> <integer>25</integer>
			</dict>
		</array>
	</dict>
	
	<!-- bow (pattern A) -->
	<!-- a ranged war skill that focuses on weak but free no-cooldown ranged attacks -->
	<!-- raises shock resistance and damage -->
	<!-- implement: bows -->
	<key>bow</key>
	<dict>
		<key>type</key> <string>war</string>
		<key>implement</key> <string>bow</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>bow shot</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>shock resistance</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>attack</key> <string>arrow storm</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>15</integer>
				<key>dodges</key> <integer>1</integer>
			</dict>
		</array>
	</dict>
	
	<!-- smithing (pattern D) -->
	<!-- the war crafting skill, with a burn attack -->
	<!-- raises health and burn resistance -->
	<!-- implement: none -->
	<key>smithing</key>
	<dict>
		<key>type</key> <string>war</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>recipies</key> <string>smithing 1</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>recipies</key> <string>smithing 2</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>health</key> <integer>10</integer>
				<key>attack</key> <string>forge iron</string>
				<key>recipies</key> <string>smithing 3</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>25</integer>
				<key>recipies</key> <string>smithing 4</string>
			</dict>
		</array>
	</dict>
	
	<!-- body skills -->
	<!-- body skills usually focus heavily on passives, and are usually pattern C or pattern D -->
	
	<!-- dodge (pattern D) -->
	<!-- a defensive skill that focuses on passives -->
	<!-- raises dodges and smash resistance -->
	<!-- implement: none -->
	<key>dodge</key>
	<dict>
		<key>type</key> <string>body</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>dodges</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>dodges</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>smash resistance</key> <integer>1</integer>
				<key>attack</key> <string>blur move</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>dodges</key> <integer>1</integer>
				<key>smash resistance</key> <integer>1</integer>
			</dict>
		</array>
	</dict>
	
	<!-- conditioning (pattern D) -->
	<!-- a mixed defensive and offensive skill that focuses on passives -->
	<!-- raises health and metabolism -->
	<!-- implement: none -->
	<key>conditioning</key>
	<dict>
		<key>type</key> <string>body</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>metabolism</key> <integer>15</integer>
				<key>health</key> <integer>12</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>metabolism</key> <integer>15</integer>
				<key>health</key> <integer>12</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>6</integer>
				<key>metabolism</key> <integer>10</integer>
				<key>attack</key> <string>tackle</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>metabolism</key> <integer>15</integer>
				<key>health</key> <integer>12</integer>
			</dict>
		</array>
	</dict>
	
	<!-- strength (pattern C) -->
	<!-- an offensive skill that focuses on passives and no-implement attacks -->
	<!-- raises damage and smash resistance -->
	<!-- implement: none -->
	<key>strength</key>
	<dict>
		<key>type</key> <string>body</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>25</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>smash resistance</key> <integer>1</integer>
				<key>attack</key> <string>kick</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>25</integer>
			</dict>
			<dict> <!-- rank 4 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>attack</key> <string>haymaker</string>
			</dict>
		</array>
	</dict>
	
	<!-- charm (pattern A) -->
	<!-- a utility skill that focuses on debuff attacks -->
	<!-- raises health and a few other things -->
	<key>charm</key>
	<dict>
		<key>type</key> <string>body</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>health</key> <integer>10</integer>
				<key>attack</key> <string>bamboozle</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>health</key> <integer>10</integer>
				<key>metabolism</key> <integer>20</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>health</key> <integer>10</integer>
				<key>attack</key> <string>flirt</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>10</integer>
				<key>hacks</key> <integer>2</integer>
			</dict>
		</array>
	</dict>
	
	<!-- sacred skills -->
	<!-- sacred skills focus on active skills that cost ammo, and are usually pattern A -->

	<!-- sacred light (pattern A) -->
	<!-- a defensive skill that focuses on temporary self-buffs that use crystals as ammo -->
	<!-- raises resistances -->
	<!-- implement: light orb (aka forcefield generator) -->
	<key>sacred light</key>
	<dict>
		<key>type</key> <string>sacred</string>
		<key>implement</key> <string>light orb</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>attack</key> <string>activate light orb</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>cut resistance</key> <integer>1</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>attack</key> <string>light orb eruption</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>smash resistance</key> <integer>1</integer>
			</dict>
		</array>
	</dict>
	
	<!-- holy soldier (pattern A) -->
	<!-- an offensive skill that focuses on fairly powerful low-cooldown shock damage ranged attacks that use crystals as ammo -->
	<!-- raises damage -->
	<!-- implement: holy weapon (aka laser gun) -->	
	<key>holy soldier</key>
	<dict>
		<key>type</key> <string>sacred</string>
		<key>implement</key> <string>holy weapon</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>health</key> <integer>10</integer>
				<key>attack</key> <string>holy shot</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>25</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>health</key> <integer>10</integer>
				<key>attack</key> <string>patience shot</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>25</integer>
			</dict>
		</array>
	</dict>
	
	<!-- heresy (pattern D) -->
	<!-- sacred skill focused on passives -->
	<!-- raises hacks and shock resistance -->
	<!-- implement: none -->
	<key>heresy</key>
	<dict>
		<key>type</key> <string>sacred</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>hacks</key> <integer>2</integer>
			</dict>
			<dict> <!-- rank 2 -->
				<key>hacks</key> <integer>2</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>attack</key> <string>crystal grenade</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>shock resistance</key> <integer>1</integer>
				<key>hacks</key> <integer>2</integer>
			</dict>
		</array>
	</dict>
	
	<!-- godly form (pattern A) -->
	<!-- sacred skill focused on elemental melee attacks that use crystals as ammo -->
	<!-- raises metabolism and burn resistance -->
	<!-- implement: godly implant (aka cybernetic implant) -->
	<key>godly form</key>
	<dict>
		<key>type</key> <string>sacred</string>
		<key>implement</key> <string>godly implant</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>attack</key> <string>flame punch</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>metabolism</key> <integer>30</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>burn resistance</key> <integer>1</integer>
				<key>attack</key> <string>holy chop</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>15</integer>
				<key>metabolism</key> <integer>15</integer>
			</dict>
		</array>
	</dict>
	
	<!-- false prophet (pattern D) -->
	<!-- the sacred crafting skill, which gives a shock attack -->
	<!-- raises damage -->
	<!-- implement: none -->
	<key>false prophet</key>
	<dict>
		<key>type</key> <string>sacred</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>12</integer>
				<key>recipies</key> <string>false prophet 1</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>12</integer>
				<key>recipies</key> <string>false prophet 2</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>12</integer>
				<key>attack</key> <string>idolatrous spark</string>
				<key>recipies</key> <string>false prophet 3</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>12</integer>
				<key>recipies</key> <string>false prophet 4</string>
			</dict>
		</array>
	</dict>
	
	<!-- ritual skills -->
	<!-- ritual skills focus on lots of active abilities, which always have cooldown 11, and are usually pattern A or pattern B -->
	
	<!-- blood (pattern A) -->
	<!-- a semi-defensive skill tree that has hard-to-resist attacks that cost the user's health -->
	<!-- raises health -->
	<!-- implement: ritual knife -->
	<key>blood</key>
	<dict>
		<key>type</key> <string>ritual</string>
		<key>implement</key> <string>ritual knife</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>metabolism</key> <integer>10</integer>
				<key>attack</key> <string>dart of spite</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>health</key> <integer>25</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>metabolism</key> <integer>10</integer>
				<key>attack</key> <string>twin sacrifice</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>health</key> <integer>25</integer>
			</dict>
		</array>
	</dict>
	
	<!-- wisdom (pattern A) -->
	<!-- a balanced skill tree that has utility spells and balanced bonuses -->
	<!-- raises everything, a little bit -->
	<!-- implement: none -->
	<key>wisdom</key>
	<dict>
		<key>type</key> <string>ritual</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>blink</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>smash resistance</key> <integer>2</integer>
			</dict>
			<dict> <!-- rank 3 -->
				<key>hacks</key> <integer>1</integer>
				<key>attack</key> <string>dazzle</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>metabolism</key> <integer>15</integer>
				<key>damage</key> <integer>15</integer>
				<key>health</key> <integer>10</integer>
			</dict>
		</array>
	</dict>
	
	<!-- might (pattern B) -->
	<!-- the dedicated nuker tree, with one spell for each element -->
	<!-- raises damage -->
	<!-- implement: tome -->
	<key>might</key>
	<dict>
		<key>type</key> <string>ritual</string>
		<key>implement</key> <string>tome</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>flame bolt</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>shatter</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>holy flash</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>damage bonus</key> <integer>10</integer>
				<key>attack</key> <string>stone pillar</string>
			</dict>
		</array>
	</dict>
	
	<!-- alchemy (pattern abnormal) -->
	<!-- the ritual crafting tree, with a no element attack -->
	<!-- raises metabolism -->
	<!-- implement: none -->
	<key>alchemy</key>
	<dict>
		<key>type</key> <string>ritual</string>
		<key>skills</key>
		<array>
			<dict> <!-- rank 1 -->
				<key>metabolism</key> <integer>15</integer>
				<key>recipies</key> <string>alchemy 1</string>
			</dict>
			<dict> <!-- rank 2 -->
				<key>metabolism</key> <integer>15</integer>
				<key>recipies</key> <string>alchemy 2</string>
			</dict>
			<dict> <!-- rank 3 -->
				<key>metabolism</key> <integer>15</integer>
				<key>attack</key> <string>poison</string>
				<key>recipies</key> <string>alchemy 3</string>
			</dict>
			<dict> <!-- rank 4 -->
				<key>metabolism</key> <integer>15</integer>
				<key>recipies</key> <string>alchemy 4</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
