<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Tilesets.plist
   Delve

   Created by Theodore Abshire on 3/4/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>template</key>
	<dict>
		<key>wall</key> <string>template</string>
		<key>floor</key> <string>template</string>
		<key>locked door</key> <string>template</string>
		<key>door floor</key> <string>template</string>
		<key>natural wall</key> <string>template</string>
		<key>stairs</key> <string>template</string>
		<key>doodads</key>
		<array>
			<string>sample doodad</string>
		</array>
	</dict>
	
    <key>cave</key>
	<dict>
		<key>wall</key> <string>unnatural wall</string>
		<key>floor</key> <string>unnatural floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>natural floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array>
			<string>stalag 1</string>
			<string>stalag 2</string>
		</array>
	</dict>
	
    <key>forest</key>
	<dict>
		<key>wall</key> <string>forest wall</string>
		<key>floor</key> <string>forest floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>unnatural floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array> <!-- TODO: foresty things, like shrubs or whatever -->
			<string>stalag 1</string>
			<string>stalag 2</string>
		</array>
	</dict>
	
    <key>bandit</key>
	<dict>
		<key>wall</key> <string>wall</string>
		<key>floor</key> <string>floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>unnatural floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array>
			<string>chair</string>
			<string>chair</string>
			<string>firepit</string>
		</array>
	</dict>
	
    <key>default</key>
	<dict>
		<key>wall</key> <string>wall</string>
		<key>floor</key> <string>floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>door floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array>
			<string>stalag 1</string>
			<string>stalag 2</string>
		</array>
	</dict>
	
    <key>lab</key>
	<dict>
		<key>wall</key> <string>rivet wall</string>
		<key>floor</key> <string>floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>door floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array> <!-- TODO: lab equipment (big tubes, broken big tubes, maybe giant microscopes or something) -->
			<string>console</string>
		</array>
	</dict>
	
    <key>habitat</key>
	<dict>
		<key>wall</key> <string>wall</string>
		<key>floor</key> <string>floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>door floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array>
			<string>stalag 1</string>
			<string>stalag 2</string>
			<string>console</string>
		</array>
	</dict>
	
    <key>ship</key>
	<dict>
		<key>wall</key> <string>rivet wall</string>
		<key>floor</key> <string>rivet floor</string>
		<key>locked door</key> <string>locked door</string>
		<key>door floor</key> <string>door floor</string>
		<key>natural wall</key> <string>natural wall</string>
		<key>stairs</key> <string>stairs</string>
		<key>doodads</key>
		<array>
			<string>console</string>
			<string>console</string>
			<string>chair</string>
		</array>
	</dict>
</dict>
</plist>