<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Tiles.plist
   Delve

   Created by Theodore Abshire on 2/25/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>stairs</key> <true/>
		<key>unlocks into</key> <string>template</string>
		<key>rubbles into</key> <string>template</string>
		<key>rubble chance</key> <integer>100</integer>
		<key>color</key> <string>iron</string>
		<key>sprite</key> <string>tile_big_tile</string>
	</dict>
	
	<!-- real tiles -->
	
	<!-- red tileset -->
	
	<key>wall</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>rubbles into</key> <string>rubble</string>
		<key>sprite</key> <string>tile_wall_tile</string>
	</dict>
	<key>floor</key>
	<dict>
		<key>rubbles into</key> <string>rubble</string>
		<key>rubble chance</key> <integer>15</integer>
		<key>sprite</key> <string>tile_floor_tile</string>
	</dict>
	<key>rivet wall</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>rubbles into</key> <string>rubble</string>
		<key>sprite</key> <string>tile_wall_rivet_tile</string>
	</dict>
	<key>rivet floor</key>
	<dict>
		<key>rubbles into</key> <string>rubble</string>
		<key>rubble chance</key> <integer>10</integer>
		<key>sprite</key> <string>tile_floor_rivet_tile</string>
	</dict>
	<key>natural wall</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>rubbles into</key> <string>natural floor</string>
		<key>sprite</key> <string>tile_wall_cave</string>
	</dict>
	<key>natural floor</key>
	<dict>
		<key>sprite</key> <string>tile_floor_cave</string>
	</dict>
	<key>unnatural wall</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>rubbles into</key> <string>natural floor</string>
		<key>sprite</key> <string>tile_wall_cave</string>
	</dict>
	<key>forest floor</key>
	<dict>
		<key>color</key> <string>green hair</string>
		<key>rubbles into</key> <string>natural floor</string>
		<key>rubble chance</key> <integer>35</integer>
		<key>sprite</key> <string>tile_floor_cave</string>
	</dict>
	<key>forest wall</key>
	<dict>
		<key>color</key> <string>brown hair</string>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>rubbles into</key> <string>natural floor</string>
		<key>sprite</key> <string>tile_wall_cave</string>
	</dict>
	<key>unnatural floor</key>
	<dict>
		<key>sprite</key> <string>tile_floor_cave</string>
	</dict>
	<key>rubble</key>
	<dict>
		<key>sprite</key> <string>tile_floor_rubble</string>
	</dict>
	<key>door floor</key>
	<dict>
		<key>rubbles into</key> <string>rubble</string>
		<key>sprite</key> <string>tile_floor_mechanism</string>
	</dict>
	<key>locked door</key>
	<dict>
		<key>solid</key> <true/>
		<key>opaque</key> <true/>
		<key>unlocks into</key> <string>door floor</string>
		<key>rubbles into</key> <string>rubble</string>
		<key>sprite</key> <string>tile_wall_mechanism</string>
	</dict>
	<key>stairs</key>
	<dict>
		<key>stairs</key> <true/>
		<key>sprite</key> <string>tile_floor_exit</string>
	</dict>
	
	<!-- doodads -->
	<key>chair</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_chair</string>
	</dict>
	<key>firepit</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_firepit</string>
	</dict>
	<key>console</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_console</string>
	</dict>
	<key>stalag 1</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_stalag1</string>
	</dict>
	<key>stalag 2</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_stalag2</string>
	</dict>
	<key>tank</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_tank</string>
	</dict>
	<key>broken tank</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_tank_broken</string>
	</dict>
	<key>column</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_column</string>
	</dict>
	<key>broken column</key>
	<dict>
		<key>solid</key> <true/>
		<key>sprite</key> <string>tile_doodad_column_broken</string>
	</dict>
	<key>bush</key>
	<dict>
		<key>solid</key> <true/>
		<key>color</key> <string>green hair</string>
		<key>sprite</key> <string>tile_doodad_bush</string>
	</dict>
</dict>
</plist>