<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Tiles.plist
   Delve

   Created by Theodore Abshire on 2/25/16.
   Copyright (c) 2016 Theodore Abshire. All rights reserved.
-->
<plist version="1.0">
<dict>
	<key>template</key>
	<dict>
		<key>solid</key> <true/>
		<key>unlocks into</key> <string>template</string>
		<key>rubbles into</key> <string>template</string>
		<key>color</key> <string>iron</string>
		<key>sprite</key> <string>tile_big_tile</string>
	</dict>
	
	<!-- real tiles -->
	
	<key>wall red</key>
	<dict>
		<key>solid</key> <true/>
		<key>rubbles into</key> <string>rubble red</string>
		<key>color</key> <string>tile stone red</string>
		<key>sprite</key> <string>tile_big_tile</string>
	</dict>
	<key>floor red</key>
	<dict>
		<key>color</key> <string>tile stone red back</string>
		<key>sprite</key> <string>tile_small_tiles</string>
	</dict>
	<key>rivet wall red</key>
	<dict>
		<key>solid</key> <true/>
		<key>rubbles into</key> <string>rubble red</string>
		<key>color</key> <string>tile stone red</string>
		<key>sprite</key> <string>tile_big_rivet_tile</string>
	</dict>
	<key>rivet floor red</key>
	<dict>
		<key>color</key> <string>tile stone red back</string>
		<key>sprite</key> <string>tile_small_rivet_tiles</string>
	</dict>
	<key>natural wall red</key>
	<dict>
		<key>solid</key> <true/>
		<key>rubbles into</key> <string>natural floor red</string>
		<key>color</key> <string>tile stone red</string>
		<key>sprite</key> <string>tile_textured</string>
	</dict>
	<key>natural floor red</key>
	<dict>
		<key>color</key> <string>tile stone red back</string>
		<key>sprite</key> <string>tile_pebbles</string>
	</dict>
	<key>rubble red</key>
	<dict>
		<key>color</key> <string>tile stone red back</string>
		<key>sprite</key> <string>tile_rubble</string>
	</dict>
	<key>door floor red</key>
	<dict>
		<key>rubbles into</key> <string>rubble red</string>
		<key>color</key> <string>tile stone red back</string>
		<key>sprite</key> <string>tile_mechanism</string>
	</dict>
	<key>locked door red</key>
	<dict>
		<key>solid</key> <true/>
		<key>unlocks into</key> <string>door floor red</string>
		<key>rubbles into</key> <string>rubble red</string>
		<key>color</key> <string>tile stone red</string>
		<key>sprite</key> <string>tile_mechanism</string>
	</dict>
</dict>
</plist>